
{{#component "footer js-comp"}}
    <footer class="" style="background-color: #59B4E9;color: #ffffff">
        <div class="row-fluid">
            <div class="span4" style="padding-left: 20px;height: 0px;padding-top: 0px;">Copyright ©2015 海尔集团 版权所有</div>
            <div class="span4 offset4" style="padding-right: 20px;padding-top: 30px;">Powered by <a href="#">海尔集团流程系统创新部</a></div>
        </div>
    </footer>
{{/component}}