<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haier.hevwms.order.dao.StgInboundDownTempDAO">
	<!-- =========================================================== -->
    <!-- 一些公共变量设置                                                                                                                                                                             -->
    <!-- =========================================================== -->
	<!-- oracle 分页头 -->
	<sql id="pagination_Head" >
		<![CDATA[select * from ( select row_.*, rownum rownum_ from ( ]]>
	</sql>
	 <!-- oracle 分页尾 -->
	<sql id="pagination_Tail">
	  <![CDATA[) row_ where rownum <= #{pager.pageSize}+#{pager.firstResult} ) where rownum_ >= #{pager.firstResult}+1]]>
	</sql>
	<!-- count * from -->
	<sql id="count_Head">
		<![CDATA[select count(*) from ( ]]>
	</sql>
	<sql id="count_Tail">
		<![CDATA[)]]>
	</sql>

	<sql id="selectAllStgInboundDownTempColumns">
		<![CDATA[
		select
			ROW_ID,
			PO_NO,
			PO_ITEM_NO,
			INBOUND_DELIVERY_NO,
			IND_CREATE_DATE,
			IND_LAST_MODIFY_DATE,
			INBOUND_ITEM_NO,
			MATERIAL_NO,
			CUSTOMER_MODEL,
			MATERIAL_DESP,
			QTY,
			INBOUND_LOCATION,
			VERSION,
			UNIT,
			DELIVER_DATE,
			STNO,
			CREATE_DATE,
			DEAL_FLAG,
			DEAL_TIME,
			DEAL_DESC,
			1
		from
			STG_INBOUND_DOWN_TEMP stg_inbound_down_temp_
		]]>
	</sql>
	<!-- =========================================================== -->
    <!-- 定义resultMap                                                                                                                                                                             -->
    <!-- =========================================================== -->
	<resultMap id="stgInboundDownTempMap" type="stgInboundDownTemp">
		<id property="rowId" column="row_ID" javaType="long" jdbcType="NUMERIC" />
		<result property="poNo" column="PO_NO"/>
		<result property="poItemNo" column="PO_ITEM_NO"/>
		<result property="inboundDeliveryNo" column="INBOUND_DELIVERY_NO"/>
		<result property="indCreateDate" column="IND_CREATE_DATE"/>
		<result property="indLastModifyDate" column="IND_LAST_MODIFY_DATE"/>
		<result property="inboundItemNo" column="INBOUND_ITEM_NO"/>
		<result property="materialNo" column="MATERIAL_NO"/>
		<result property="customerModel" column="CUSTOMER_MODEL"/>
		<result property="materialDesp" column="MATERIAL_DESP"/>
		<result property="qty" column="QTY"/>
		<result property="inboundLocation" column="INBOUND_LOCATION"/>
		<result property="version" column="VERSION"/>
		<result property="unit" column="UNIT"/>
		<result property="deliverDate" column="DELIVER_DATE"/>
		<result property="stno" column="STNO"/>
		<result property="createDate" column="CREATE_DATE"/>
		<result property="dealFlag" column="DEAL_FLAG"/>
		<result property="dealTime" column="DEAL_TIME"/>
		<result property="dealDesc" column="DEAL_DESC"/>
	</resultMap>
	<!-- =========================================================== -->
    <!-- DAO方法中的基本增删改查方法                                                                                                                                                           -->
    <!-- =========================================================== -->
    <select id="getAll" resultMap="stgInboundDownTempMap">
		<include refid="selectAllStgInboundDownTempColumns"/>
	</select>
	<select id="get" resultMap="stgInboundDownTempMap" parameterType="long">
		<include refid="selectAllStgInboundDownTempColumns"/>
		<![CDATA[
		where stg_inbound_down_temp_.row_id = #{rowId}
		]]>
	</select>
	<delete id="delete" parameterType="long">
		<![CDATA[
		delete from STG_INBOUND_DOWN_TEMP where row_id = #{rowId}
		]]>
	</delete>
	<delete id="deleteAll">
		<![CDATA[
		delete from STG_INBOUND_DOWN_TEMP where row_id in
		]]>
		<foreach collection="idList" item="item" index="index" open="(" separator="," close=")">
	        #{item}
	  	</foreach>
	</delete>
    <insert id="save" parameterType="stgInboundDownTemp">
		<![CDATA[
		insert into STG_INBOUND_DOWN_TEMP
		  (PO_NO
				,PO_ITEM_NO
				,INBOUND_DELIVERY_NO
				,IND_CREATE_DATE
				,IND_LAST_MODIFY_DATE
				,INBOUND_ITEM_NO
				,MATERIAL_NO
				,CUSTOMER_MODEL
				,MATERIAL_DESP
				,QTY
				,INBOUND_LOCATION
				,UNIT
				,DELIVER_DATE
				,ST_NO
		   )
		values
		  (#{poNo}
				,#{poItemNo}
				,#{inboundDeliveryNo}
				,#{indCreateDate}
				,#{indLastModifyDate}
				,#{inboundItemNo}
				,#{materialNo}
				,#{customerModel}
				,#{materialDesp}
				,#{qty}
				,#{inboundLocation}
				,#{unit}
				,#{deliverDate}
				,#{stno}
		   )
	    ]]>
	</insert>
	<update id="update" parameterType="stgInboundDownTemp">
		<![CDATA[
		update STG_INBOUND_DOWN_TEMP
		   set
		   		 PO_NO = #{poNo}
				,PO_ITEM_NO = #{poItemNo}
				,INBOUND_DELIVERY_NO = #{inboundDeliveryNo}
				,IND_CREATE_DATE = #{indCreateDate}
				,IND_LAST_MODIFY_DATE = #{indLastModifyDate}
				,INBOUND_ITEM_NO = #{inboundItemNo}
				,MATERIAL_NO = #{materialNo}
				,CUSTOMER_MODEL = #{customerModel}
				,MATERIAL_DESP = #{materialDesp}
				,QTY = #{qty}
				,INBOUND_LOCATION = #{inboundLocation}
				,VERSION = #{version}
				,UNIT = #{unit}
				,DELIVER_DATE = #{deliverDate}
				,STNO = #{stno}
				,CREATE_DATE = #{createDate}
				,DEAL_FLAG = #{dealFlag}
				,DEAL_TIME = #{dealTime}
				,DEAL_DESC = #{dealDesc}
		 where row_id = #{rowId}
		]]>
	</update>
	<sql id="searchStgInboundDownTemp_fragement">
		<include refid="selectAllStgInboundDownTempColumns" />
		where 1=1
			<if test="stgInboundDownTemp.poNo != null">
			and PO_NO like '%' || #{stgInboundDownTemp.poNo} || '%'
			</if>
			<if test="stgInboundDownTemp.poItemNo != null">
			and PO_ITEM_NO like '%' || #{stgInboundDownTemp.poItemNo} || '%'
			</if>
			<if test="stgInboundDownTemp.inboundDeliveryNo != null">
			and INBOUND_DELIVERY_NO like '%' || #{stgInboundDownTemp.inboundDeliveryNo} || '%'
			</if>
			<if test="stgInboundDownTemp.indCreateDate != null">
			and IND_CREATE_DATE like '%' || #{stgInboundDownTemp.indCreateDate} || '%'
			</if>
			<if test="stgInboundDownTemp.indLastModifyDate != null">
			and IND_LAST_MODIFY_DATE like '%' || #{stgInboundDownTemp.indLastModifyDate} || '%'
			</if>
			<if test="stgInboundDownTemp.inboundItemNo != null">
			and INBOUND_ITEM_NO like '%' || #{stgInboundDownTemp.inboundItemNo} || '%'
			</if>
			<if test="stgInboundDownTemp.materialNo != null">
			and MATERIAL_NO like '%' || #{stgInboundDownTemp.materialNo} || '%'
			</if>
			<if test="stgInboundDownTemp.customerModel != null">
			and CUSTOMER_MODEL like '%' || #{stgInboundDownTemp.customerModel} || '%'
			</if>
			<if test="stgInboundDownTemp.materialDesp != null">
			and MATERIAL_DESP like '%' || #{stgInboundDownTemp.materialDesp} || '%'
			</if>
			<if test="stgInboundDownTemp.qty != null">
			and QTY like '%' || #{stgInboundDownTemp.qty} || '%'
			</if>
			<if test="stgInboundDownTemp.inboundLocation != null">
			and INBOUND_LOCATION like '%' || #{stgInboundDownTemp.inboundLocation} || '%'
			</if>
			<if test="stgInboundDownTemp.version != null">
			and VERSION like '%' || #{stgInboundDownTemp.version} || '%'
			</if>
			<if test="stgInboundDownTemp.unit != null">
			and UNIT like '%' || #{stgInboundDownTemp.unit} || '%'
			</if>
			<if test="stgInboundDownTemp.deliverDate != null">
			and DELIVER_DATE like '%' || #{stgInboundDownTemp.deliverDate} || '%'
			</if>
			<if test="stgInboundDownTemp.stno != null">
			and STNO like '%' || #{stgInboundDownTemp.stno} || '%'
			</if>
			<if test="stgInboundDownTemp.createDate != null">
			and CREATE_DATE like '%' || #{stgInboundDownTemp.createDate} || '%'
			</if>
			<if test="stgInboundDownTemp.dealFlag != null">
			and DEAL_FLAG like '%' || #{stgInboundDownTemp.dealFlag} || '%'
			</if>
			<if test="stgInboundDownTemp.dealTime != null">
			and DEAL_TIME like '%' || #{stgInboundDownTemp.dealTime} || '%'
			</if>
			<if test="stgInboundDownTemp.dealDesc != null">
			and DEAL_DESC like '%' || #{stgInboundDownTemp.dealDesc} || '%'
			</if>
	</sql>
	<select id="searchStgInboundDownTemps" resultMap="stgInboundDownTempMap">
		<include refid="pagination_Head"/>
		<include refid="searchStgInboundDownTemp_fragement"/>
		<include refid="pagination_Tail"/>
	</select>
	<select id="searchStgInboundDownTempsCount" resultType="long">
		<include refid="count_Head"/>
		<include refid="searchStgInboundDownTemp_fragement"/>
		<include refid="count_Tail"/>
	</select>
	<select id="searchStgInboundDownSt" resultType="long">
		<![CDATA[
		select getid('SEQ_STG_INBOUND_DOWN_TEMP_ID') from dual;
		]]>
	</select>
	<select id="toInboundDown" statementType="CALLABLE"
			parameterType="inboundForTemp" resultType="com.haier.hevwms.order.domain.InboundForTemp">
    <![CDATA[
        {call prc_stg_inbound_down_temp(
        #{stno,mode=IN,jdbcType=VARCHAR},
        #{inboundNo,mode=IN,jdbcType=VARCHAR},
        #{status,mode=OUT,jdbcType=VARCHAR},
        #{msg,mode=OUT,jdbcType=VARCHAR}
        )}
    ]]>
	</select>

	<!-- added by Lynn 20160301, begin -->
	<delete id="delInbdDownTempHistory">
		<![CDATA[
		delete from STG_INBOUND_DOWN_TEMP where deal_flag = ''
		]]>
	</delete>

	<insert id="insertInbdTempHistory">
		<![CDATA[
			INSERT INTO stg_inbound_down_temp_history (SELECT * FROM stg_inbound_down_temp WHERE stg_inbound_down_temp.DEAL_FLAG = '')
	    ]]>
	</insert>
	<!-- added by Lynn 20160301, end -->
</mapper>
