<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.haier.hevwms.consume.dao.OdsConsumeScanInfoDAO" >
	<!-- oracle 分页头 -->
	<sql id="pagination_Head">
		<![CDATA[select * from ( select row_.*, rownum rownum_ from ( ]]>
	</sql>
	<!-- oracle 分页尾 -->
	<sql id="pagination_Tail">
	  <![CDATA[) row_ where rownum <= #{pager.pageSize} * #{pager.currentPage} ) where rownum_ >= #{pager.firstResult} + 1]]>
	</sql>
	<!-- count * from -->
	<sql id="count_Head">
		<![CDATA[select count(*) from ( ]]>
	</sql>
	<sql id="count_Tail">
		<![CDATA[)]]>
	</sql>
  
	<resultMap id="BaseResultMap" type="odsConsumeScanInfo" >
	    <result column="ROW_ID" property="rowId" />
	    <result column="ORDER_TYPE" property="orderType" />
	    <result column="BIN" property="bin" />
	    <result column="CONSUME_NO" property="consumeNo" />
	    <result column="CONSUME_ITEM_NO" property="consumeItemNo" />
	    <result column="BATCH_NO" property="batchNo" />
	    <result column="PLANT" property="plant" />
	    <result column="CUSTOMER_MODEL" property="customerModel" />
	    <result column="LOCATION" property="location" />
	    <result column="MATERIAL_NO" property="materialNo" />
	    <result column="MATERIAL_DESP" property="materialDesp" />
	    <result column="UNIT" property="unit" />
	    <result column="BARCODE" property="barcode" />
	    <result column="VENDOR_CODE" property="vendorCode" />
	    <result column="VENDOR_NAME" property="vendorName" />
	    <result column="DELIVERY_CODE" property="deliveryCode" />
	    <result column="DELIVERY_NAME" property="deliveryName" />
	    <result column="SCANNED_BY" property="scannedBy" />
	    <result column="SCANNED_DATE" property="scannedDate" jdbcType="DATE" />
	    <result column="DELIVERY_DATE" property="deliveryDate" jdbcType="DATE" />
	    <result column="ORDER_ID" property="orderId" />
	    <result column="ORDER_NO" property="orderNo" />
	    <result column="CAR_NO" property="carNo" />
	    <result column="CREATE_BY" property="createBy" />
	    <result column="CREATE_DATE" property="createDate" jdbcType="DATE" />
	    <result column="MODIFY_BY" property="modifyBy" />
	    <result column="MODIFY_DATE" property="modifyDate" jdbcType="DATE" />
	    <result column="FLAG" property="flag" />
	    <result column="VERSION" property="version" />
	    <result column="QTY" property="qty" />
	    <result column="ORDER_ITEM" property="orderItem" />
	    <result column="SERIAL_NO" property="serialNo" />
	    <result column="FINISH_FLAG" property="finishFlag" />
	    <result column="IN_OUT_FLAG" property="inOutFlag" />
	    <result column="IN_OUT_MSG" property="inOutMsg" />
	    <result column="USED_FLAG" property="usedFlag" />
	    <result column="SUB_LOCATION" property="subLocation" />
	    <result column="REMARK" property="remark" />
	</resultMap>
  
	<sql id="Base_Column_List" >
	  ROW_ID, ORDER_TYPE, BIN, CONSUME_NO, CONSUME_ITEM_NO, BATCH_NO, 
	  PLANT, CUSTOMER_MODEL, LOCATION, MATERIAL_NO, MATERIAL_DESP, UNIT, BARCODE, VENDOR_CODE, 
	  VENDOR_NAME, DELIVERY_CODE, DELIVERY_NAME, SCANNED_BY, SCANNED_DATE, DELIVERY_DATE, 
	  ORDER_ID, ORDER_NO, CAR_NO, CREATE_BY, CREATE_DATE, MODIFY_BY, MODIFY_DATE, FLAG, 
	  VERSION, QTY, ORDER_ITEM, SERIAL_NO, FINISH_FLAG, IN_OUT_FLAG, IN_OUT_MSG, USED_FLAG, 
	  SUB_LOCATION, REMARK
	</sql>
	
	<!-- 无条件查询数据库所有字段 -->
	<sql id="selectAllOdsConsumeScanInfoColumns">
		select 
		<include refid="Base_Column_List" /> 
		from ODS_CONSUME_SCAN_INFO
	</sql>
	
	<sql id="searchOdsConsumeScanInfo_fragement">
		where 1=1 
		<if test="odsConsumeScanInfo.rowId != null" >
	      and ROW_ID = #{odsConsumeScanInfo.rowId},
	    </if>
	    <if test="odsConsumeScanInfo.orderType != null and odsConsumeScanInfo.orderType != ''" >
	      and ORDER_TYPE like '%'||#{odsConsumeScanInfo.orderType}||'%' 
	    </if>
	    <if test="odsConsumeScanInfo.bin != null and odsConsumeScanInfo.bin != ''" >
	      and BIN like '%'||#{odsConsumeScanInfo.bin}||'%' 
	    </if>
	    <if test="odsConsumeScanInfo.ConsumeNo != null and odsConsumeScanInfo.ConsumeNo != ''" >
	      and CONSUME_NO like '%'||#{odsConsumeScanInfo.consumeNo}||'%' 
	    </if>
	    <if test="odsConsumeScanInfo.consumeItemNo != null and odsConsumeScanInfo.consumeItemNo != ''" >
	      and CONSUME_ITEM_NO like '%'||#{odsConsumeScanInfo.consumeItemNo}||'%' 
	    </if>
	    <if test="odsConsumeScanInfo.plant != null and odsConsumeScanInfo.plant != ''" >
	      and PLANT like '%'||#{odsConsumeScanInfo.plant}||'%' 
	    </if>
	    <if test="odsConsumeScanInfo.customerModel != null and odsConsumeScanInfo.customerModel != ''" >
	      and CUSTOMER_MODEL like '%'||#{odsConsumeScanInfo.customerModel}||'%'  
	    </if>
	    <if test="odsConsumeScanInfo.location != null and odsConsumeScanInfo.location != ''" >
	      and LOCATION IN (${odsConsumeScanInfo.location})
	    </if>
	    <if test="odsConsumeScanInfo.materialNo != null and odsConsumeScanInfo.materialNo != ''" >
	      and MATERIAL_NO like '%'||#{odsConsumeScanInfo.materialNo}||'%' 
	    </if>
	    <if test="odsConsumeScanInfo.barcode != null and odsConsumeScanInfo.barcode != ''" >
	      and BARCODE like '%'||#{odsConsumeScanInfo.barcode}||'%' 
	    </if>
	    <if test="odsConsumeScanInfo.orderNo != null and odsConsumeScanInfo.orderNo != ''" >
	      and ORDER_NO like '%'||#{odsConsumeScanInfo.orderNo}||'%' 
	    </if>
	    <if test="odsConsumeScanInfo.flag != null" >
	      and FLAG = #{odsConsumeScanInfo.flag}
	    </if>
	    <if test="odsConsumeScanInfo.finishFlag != null and odsConsumeScanInfo.finishFlag != ''" >
	      and FINISH_FLAG = #{odsConsumeScanInfo.finishFlag}
	    </if>
	    <if test="odsConsumeScanInfo.inOutFlag != null and odsConsumeScanInfo.inOutFlag != ''" >
	      and IN_OUT_FLAG = #{odsConsumeScanInfo.inOutFlag}
	    </if>
	    <if test="odsConsumeScanInfo.begin != null and odsConsumeScanInfo.begin != ''" >
	      	<![CDATA[
				and CREATE_DATE >= TO_DATE(#{odsConsumeScanInfo.begin}||' 00:00:00', 'yyyy-mm-dd hh24:mi:ss')
			]]>
	    </if>
	    <if test="odsConsumeScanInfo.end != null and odsConsumeScanInfo.end != ''" >
	      	<![CDATA[
				and CREATE_DATE <= TO_DATE(#{odsConsumeScanInfo.end}||' 23:59:59', 'yyyy-mm-dd hh24:mi:ss')
			]]>
	    </if>
	</sql>
	
	<select id="get" resultMap="BaseResultMap" parameterType="long">
		<include refid="selectAllOdsConsumeScanInfoColumns" />
		where ROW_ID = #{rowId}
	</select>
	
	<select id="getAll" resultMap="BaseResultMap">
		<include refid="selectAllOdsConsumeScanInfoColumns" />
	</select>
	
	<delete id="delete" parameterType="odsConsumeScanInfo" >
	  delete from ODS_CONSUME_SCAN_INFO where ROW_ID = #{rowId}
	</delete>
  
  	<!-- 分页查询 -->
	<select id="searchOdsConsumeScanInfoByPage" resultMap="BaseResultMap">
		<include refid="pagination_Head" />
		<include refid="selectAllOdsConsumeScanInfoColumns" />
		<include refid="searchOdsConsumeScanInfo_fragement" />
		<include refid="pagination_Tail" />
	</select>
	<select id="searchOdsConsumeScanInfoCount" resultType="long">
		<include refid="count_Head" />
		<include refid="selectAllOdsConsumeScanInfoColumns" />
		<include refid="searchOdsConsumeScanInfo_fragement" />
		<include refid="count_Tail" />
	</select>
	
	<!-- 条件查询列表 -->
	<select id="getListByParam" resultMap="BaseResultMap">
		<include refid="selectAllOdsConsumeScanInfoColumns" />
		<include refid="searchOdsConsumeScanInfo_fragement" />
	</select>
  
	<insert id="save" parameterType="odsConsumeScanInfo" >
	  insert into ODS_CONSUME_SCAN_INFO (ROW_ID, ORDER_TYPE, BIN, 
	    CONSUME_NO, CONSUME_ITEM_NO, BATCH_NO, PLANT, 
	    CUSTOMER_MODEL, LOCATION, MATERIAL_NO, 
	    MATERIAL_DESP, UNIT, BARCODE, 
	    VENDOR_CODE, VENDOR_NAME, DELIVERY_CODE, 
	    DELIVERY_NAME, SCANNED_BY, SCANNED_DATE, 
	    DELIVERY_DATE, ORDER_ID, ORDER_NO, 
	    CAR_NO, CREATE_BY, CREATE_DATE, 
	    MODIFY_BY, MODIFY_DATE, FLAG, 
	    VERSION, QTY, ORDER_ITEM, 
	    SERIAL_NO, FINISH_FLAG, IN_OUT_FLAG, 
	    IN_OUT_MSG, USED_FLAG, SUB_LOCATION, 
	    REMARK)
	  values (#{rowId,jdbcType=DECIMAL}, #{orderType,jdbcType=OTHER}, #{bin,jdbcType=OTHER}, 
	    #{consumeNo,jdbcType=OTHER}, #{consumeItemNo,jdbcType=OTHER},
	    #{batchNo,jdbcType=OTHER}, #{plant,jdbcType=OTHER}, 
	    #{customerModel,jdbcType=OTHER}, #{location,jdbcType=OTHER}, #{materialNo,jdbcType=OTHER}, 
	    #{materialDesp,jdbcType=OTHER}, #{unit,jdbcType=OTHER}, #{barcode,jdbcType=OTHER}, 
	    #{vendorCode,jdbcType=OTHER}, #{vendorName,jdbcType=OTHER}, #{deliveryCode,jdbcType=OTHER}, 
	    #{deliveryName,jdbcType=OTHER}, #{scannedBy,jdbcType=OTHER}, #{scannedDate,jdbcType=DATE}, 
	    #{deliveryDate,jdbcType=DATE}, #{orderId,jdbcType=DECIMAL}, #{orderNo,jdbcType=OTHER}, 
	    #{carNo,jdbcType=OTHER}, #{createBy,jdbcType=OTHER}, #{createDate,jdbcType=DATE}, 
	    #{modifyBy,jdbcType=OTHER}, #{modifyDate,jdbcType=DATE}, #{flag,jdbcType=OTHER}, 
	    #{version,jdbcType=DECIMAL}, #{qty,jdbcType=DECIMAL}, #{orderItem,jdbcType=OTHER}, 
	    #{serialNo,jdbcType=OTHER}, #{finishFlag,jdbcType=OTHER}, #{inOutFlag,jdbcType=OTHER}, 
	    #{inOutMsg,jdbcType=OTHER}, #{usedFlag,jdbcType=OTHER}, #{subLocation,jdbcType=OTHER}, 
	    #{remark})
	</insert>
	
	<insert id="insertSelective" parameterType="odsConsumeScanInfo" >
	  insert into ODS_CONSUME_SCAN_INFO
	  <trim prefix="(" suffix=")" suffixOverrides="," >
	    <if test="rowId != null" >
	      ROW_ID,
	    </if>
	    <if test="orderType != null" >
	      ORDER_TYPE,
	    </if>
	    <if test="bin != null" >
	      BIN,
	    </if>
	    <if test="consumeNo != null" >
	      CONSUME_NO,
	    </if>
	    <if test="consumeItemNo != null" >
	      CONSUME_ITEM_NO,
	    </if>
	    
	    <if test="batchNo != null" >
	      BATCH_NO,
	    </if>
	    <if test="plant != null" >
	      PLANT,
	    </if>
	    <if test="customerModel != null" >
	      CUSTOMER_MODEL,
	    </if>
	    <if test="location != null" >
	      LOCATION,
	    </if>
	    <if test="materialNo != null" >
	      MATERIAL_NO,
	    </if>
	    <if test="materialDesp != null" >
	      MATERIAL_DESP,
	    </if>
	    <if test="unit != null" >
	      UNIT,
	    </if>
	    <if test="barcode != null" >
	      BARCODE,
	    </if>
	    <if test="vendorCode != null" >
	      VENDOR_CODE,
	    </if>
	    <if test="vendorName != null" >
	      VENDOR_NAME,
	    </if>
	    <if test="deliveryCode != null" >
	      DELIVERY_CODE,
	    </if>
	    <if test="deliveryName != null" >
	      DELIVERY_NAME,
	    </if>
	    <if test="scannedBy != null" >
	      SCANNED_BY,
	    </if>
	    <if test="scannedDate != null" >
	      SCANNED_DATE,
	    </if>
	    <if test="deliveryDate != null" >
	      DELIVERY_DATE,
	    </if>
	    <if test="orderId != null" >
	      ORDER_ID,
	    </if>
	    <if test="orderNo != null" >
	      ORDER_NO,
	    </if>
	    <if test="carNo != null" >
	      CAR_NO,
	    </if>
	    <if test="createBy != null" >
	      CREATE_BY,
	    </if>
	    <if test="createDate != null" >
	      CREATE_DATE,
	    </if>
	    <if test="modifyBy != null" >
	      MODIFY_BY,
	    </if>
	    <if test="modifyDate != null" >
	      MODIFY_DATE,
	    </if>
	    <if test="flag != null" >
	      FLAG,
	    </if>
	    <if test="version != null" >
	      VERSION,
	    </if>
	    <if test="qty != null" >
	      QTY,
	    </if>
	    <if test="orderItem != null" >
	      ORDER_ITEM,
	    </if>
	    <if test="serialNo != null" >
	      SERIAL_NO,
	    </if>
	    <if test="finishFlag != null" >
	      FINISH_FLAG,
	    </if>
	    <if test="inOutFlag != null" >
	      IN_OUT_FLAG,
	    </if>
	    <if test="inOutMsg != null" >
	      IN_OUT_MSG,
	    </if>
	    <if test="usedFlag != null" >
	      USED_FLAG,
	    </if>
	    <if test="subLocation != null" >
	      SUB_LOCATION,
	    </if>
	    <if test="remark != null" >
	      REMARK,
	    </if>
	  </trim>
	  <trim prefix="values (" suffix=")" suffixOverrides="," >
	    <if test="rowId != null" >
	      #{rowId,jdbcType=DECIMAL},
	    </if>
	    <if test="orderType != null" >
	      #{orderType,jdbcType=OTHER},
	    </if>
	    <if test="bin != null" >
	      #{bin,jdbcType=OTHER},
	    </if>
	    <if test="consumeNo != null" >
	      #{consumeNo,jdbcType=OTHER},
	    </if>
	    <if test="consumeItemNo != null" >
	      #{consumeItemNo,jdbcType=OTHER},
	    </if>
	    
	    <if test="batchNo != null" >
	      #{batchNo,jdbcType=OTHER},
	    </if>
	    <if test="plant != null" >
	      #{plant,jdbcType=OTHER},
	    </if>
	    <if test="customerModel != null" >
	      #{customerModel,jdbcType=OTHER},
	    </if>
	    <if test="location != null" >
	      #{location,jdbcType=OTHER},
	    </if>
	    <if test="materialNo != null" >
	      #{materialNo,jdbcType=OTHER},
	    </if>
	    <if test="materialDesp != null" >
	      #{materialDesp,jdbcType=OTHER},
	    </if>
	    <if test="unit != null" >
	      #{unit,jdbcType=OTHER},
	    </if>
	    <if test="barcode != null" >
	      #{barcode,jdbcType=OTHER},
	    </if>
	    <if test="vendorCode != null" >
	      #{vendorCode,jdbcType=OTHER},
	    </if>
	    <if test="vendorName != null" >
	      #{vendorName,jdbcType=OTHER},
	    </if>
	    <if test="deliveryCode != null" >
	      #{deliveryCode,jdbcType=OTHER},
	    </if>
	    <if test="deliveryName != null" >
	      #{deliveryName,jdbcType=OTHER},
	    </if>
	    <if test="scannedBy != null" >
	      #{scannedBy,jdbcType=OTHER},
	    </if>
	    <if test="scannedDate != null" >
	      #{scannedDate,jdbcType=DATE},
	    </if>
	    <if test="deliveryDate != null" >
	      #{deliveryDate,jdbcType=DATE},
	    </if>
	    <if test="orderId != null" >
	      #{orderId,jdbcType=DECIMAL},
	    </if>
	    <if test="orderNo != null" >
	      #{orderNo,jdbcType=OTHER},
	    </if>
	    <if test="carNo != null" >
	      #{carNo,jdbcType=OTHER},
	    </if>
	    <if test="createBy != null" >
	      #{createBy,jdbcType=OTHER},
	    </if>
	    <if test="createDate != null" >
	      #{createDate,jdbcType=DATE},
	    </if>
	    <if test="modifyBy != null" >
	      #{modifyBy,jdbcType=OTHER},
	    </if>
	    <if test="modifyDate != null" >
	      #{modifyDate,jdbcType=DATE},
	    </if>
	    <if test="flag != null" >
	      #{flag,jdbcType=OTHER},
	    </if>
	    <if test="version != null" >
	      #{version,jdbcType=DECIMAL},
	    </if>
	    <if test="qty != null" >
	      #{qty,jdbcType=DECIMAL},
	    </if>
	    <if test="orderItem != null" >
	      #{orderItem,jdbcType=OTHER},
	    </if>
	    <if test="serialNo != null" >
	      #{serialNo,jdbcType=OTHER},
	    </if>
	    <if test="finishFlag != null" >
	      #{finishFlag,jdbcType=OTHER},
	    </if>
	    <if test="inOutFlag != null" >
	      #{inOutFlag,jdbcType=OTHER},
	    </if>
	    <if test="inOutMsg != null" >
	      #{inOutMsg,jdbcType=OTHER},
	    </if>
	    <if test="usedFlag != null" >
	      #{usedFlag,jdbcType=OTHER},
	    </if>
	    <if test="subLocation != null" >
	      #{subLocation,jdbcType=OTHER},
	    </if>
	    <if test="remark != null" >
	      #{remark},
	    </if>
	  </trim>
	</insert>
	
	<update id="updateSelectActive" parameterType="odsConsumeScanInfo" >
	  update ODS_CONSUME_SCAN_INFO
	  <set >
	    <if test="record.orderType != null" >
	      ORDER_TYPE = #{record.orderType,jdbcType=OTHER},
	    </if>
	    <if test="record.bin != null" >
	      BIN = #{record.bin,jdbcType=OTHER},
	    </if>
	    <if test="record.consumeNo != null" >
	      CONSUME_NO = #{record.consumeNo,jdbcType=OTHER},
	    </if>
	    <if test="record.consumeItemNo != null" >
	      CONSUME_ITEM_NO = #{record.consumeItemNo,jdbcType=OTHER},
	    </if>
	    
	    <if test="record.batchNo != null" >
	      BATCH_NO = #{record.batchNo,jdbcType=OTHER},
	    </if>
	    <if test="record.plant != null" >
	      PLANT = #{record.plant,jdbcType=OTHER},
	    </if>
	    <if test="record.customerModel != null" >
	      CUSTOMER_MODEL = #{record.customerModel,jdbcType=OTHER},
	    </if>
	    <if test="record.location != null" >
	      LOCATION = #{record.location,jdbcType=OTHER},
	    </if>
	    <if test="record.materialNo != null" >
	      MATERIAL_NO = #{record.materialNo,jdbcType=OTHER},
	    </if>
	    <if test="record.materialDesp != null" >
	      MATERIAL_DESP = #{record.materialDesp,jdbcType=OTHER},
	    </if>
	    <if test="record.unit != null" >
	      UNIT = #{record.unit,jdbcType=OTHER},
	    </if>
	    <if test="record.barcode != null" >
	      BARCODE = #{record.barcode,jdbcType=OTHER},
	    </if>
	    <if test="record.vendorCode != null" >
	      VENDOR_CODE = #{record.vendorCode,jdbcType=OTHER},
	    </if>
	    <if test="record.vendorName != null" >
	      VENDOR_NAME = #{record.vendorName,jdbcType=OTHER},
	    </if>
	    <if test="record.deliveryCode != null" >
	      DELIVERY_CODE = #{record.deliveryCode,jdbcType=OTHER},
	    </if>
	    <if test="record.deliveryName != null" >
	      DELIVERY_NAME = #{record.deliveryName,jdbcType=OTHER},
	    </if>
	    <if test="record.scannedBy != null" >
	      SCANNED_BY = #{record.scannedBy,jdbcType=OTHER},
	    </if>
	    <if test="record.scannedDate != null" >
	      SCANNED_DATE = #{record.scannedDate,jdbcType=DATE},
	    </if>
	    <if test="record.deliveryDate != null" >
	      DELIVERY_DATE = #{record.deliveryDate,jdbcType=DATE},
	    </if>
	    <if test="record.orderId != null" >
	      ORDER_ID = #{record.orderId,jdbcType=DECIMAL},
	    </if>
	    <if test="record.orderNo != null" >
	      ORDER_NO = #{record.orderNo,jdbcType=OTHER},
	    </if>
	    <if test="record.carNo != null" >
	      CAR_NO = #{record.carNo,jdbcType=OTHER},
	    </if>
	    <if test="record.createBy != null" >
	      CREATE_BY = #{record.createBy,jdbcType=OTHER},
	    </if>
	    <if test="record.createDate != null" >
	      CREATE_DATE = #{record.createDate,jdbcType=DATE},
	    </if>
	    <if test="record.modifyBy != null" >
	      MODIFY_BY = #{record.modifyBy,jdbcType=OTHER},
	    </if>
	    <if test="record.modifyDate != null" >
	      MODIFY_DATE = #{record.modifyDate,jdbcType=DATE},
	    </if>
	    <if test="record.flag != null" >
	      FLAG = #{record.flag,jdbcType=OTHER},
	    </if>
	    <if test="record.version != null" >
	      VERSION = #{record.version,jdbcType=DECIMAL},
	    </if>
	    <if test="record.qty != null" >
	      QTY = #{record.qty,jdbcType=DECIMAL},
	    </if>
	    <if test="record.orderItem != null" >
	      ORDER_ITEM = #{record.orderItem,jdbcType=OTHER},
	    </if>
	    <if test="record.serialNo != null" >
	      SERIAL_NO = #{record.serialNo,jdbcType=OTHER},
	    </if>
	    <if test="record.finishFlag != null" >
	      FINISH_FLAG = #{record.finishFlag,jdbcType=OTHER},
	    </if>
	    <if test="record.inOutFlag != null" >
	      IN_OUT_FLAG = #{record.inOutFlag,jdbcType=OTHER},
	    </if>
	    <if test="record.inOutMsg != null" >
	      IN_OUT_MSG = #{record.inOutMsg,jdbcType=OTHER},
	    </if>
	    <if test="record.usedFlag != null" >
	      USED_FLAG = #{record.usedFlag,jdbcType=OTHER},
	    </if>
	    <if test="record.subLocation != null" >
	      SUB_LOCATION = #{record.subLocation,jdbcType=OTHER},
	    </if>
	    <if test="record.remark != null" >
	      REMARK = #{record.remark},
	    </if>
	  </set>
	</update>
	
	<update id="update" parameterType="odsConsumeScanInfo" >
	  update ODS_CONSUME_SCAN_INFO
	  set 
	    ORDER_TYPE = #{record.orderType,jdbcType=OTHER},
	    BIN = #{record.bin,jdbcType=OTHER},
	    CONSUME_NO = #{record.consumeNo,jdbcType=OTHER},
	    CONSUME_ITEM_NO = #{record.consumeItemNo,jdbcType=OTHER},
	    BATCH_NO = #{record.batchNo,jdbcType=OTHER},
	    PLANT = #{record.plant,jdbcType=OTHER},
	    CUSTOMER_MODEL = #{record.customerModel,jdbcType=OTHER},
	    LOCATION = #{record.location,jdbcType=OTHER},
	    MATERIAL_NO = #{record.materialNo,jdbcType=OTHER},
	    MATERIAL_DESP = #{record.materialDesp,jdbcType=OTHER},
	    UNIT = #{record.unit,jdbcType=OTHER},
	    BARCODE = #{record.barcode,jdbcType=OTHER},
	    VENDOR_CODE = #{record.vendorCode,jdbcType=OTHER},
	    VENDOR_NAME = #{record.vendorName,jdbcType=OTHER},
	    DELIVERY_CODE = #{record.deliveryCode,jdbcType=OTHER},
	    DELIVERY_NAME = #{record.deliveryName,jdbcType=OTHER},
	    SCANNED_BY = #{record.scannedBy,jdbcType=OTHER},
	    SCANNED_DATE = #{record.scannedDate,jdbcType=DATE},
	    DELIVERY_DATE = #{record.deliveryDate,jdbcType=DATE},
	    ORDER_ID = #{record.orderId,jdbcType=DECIMAL},
	    ORDER_NO = #{record.orderNo,jdbcType=OTHER},
	    CAR_NO = #{record.carNo,jdbcType=OTHER},
	    CREATE_BY = #{record.createBy,jdbcType=OTHER},
	    CREATE_DATE = #{record.createDate,jdbcType=DATE},
	    MODIFY_BY = #{record.modifyBy,jdbcType=OTHER},
	    MODIFY_DATE = #{record.modifyDate,jdbcType=DATE},
	    FLAG = #{record.flag,jdbcType=OTHER},
	    VERSION = #{record.version,jdbcType=DECIMAL},
	    QTY = #{record.qty,jdbcType=DECIMAL},
	    ORDER_ITEM = #{record.orderItem,jdbcType=OTHER},
	    SERIAL_NO = #{record.serialNo,jdbcType=OTHER},
	    FINISH_FLAG = #{record.finishFlag,jdbcType=OTHER},
	    IN_OUT_FLAG = #{record.inOutFlag,jdbcType=OTHER},
	    IN_OUT_MSG = #{record.inOutMsg,jdbcType=OTHER},
	    USED_FLAG = #{record.usedFlag,jdbcType=OTHER},
	    SUB_LOCATION = #{record.subLocation,jdbcType=OTHER},
	    REMARK = #{record.remark}
	   where ROW_ID = #{record.rowId}
	</update>
</mapper>