<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.haier.hevwms.consume.dao.OdsConsumeOrderDAO" >
	<!-- oracle 分页头 -->
	<sql id="pagination_Head">
		<![CDATA[select * from ( select row_.*, rownum rownum_ from ( ]]>
	</sql>
	<!-- oracle 分页尾 -->
	<sql id="pagination_Tail">
	  <![CDATA[) row_ where rownum <= #{pager.pageSize} * #{pager.currentPage} ) where rownum_ >= #{pager.firstResult} + 1]]>
	</sql>
	<!-- count * from -->
	<sql id="count_Head">
		<![CDATA[select count(*) from ( ]]>
	</sql>
	<sql id="count_Tail">
		<![CDATA[)]]>
	</sql>
		
	<resultMap id="BaseResultMap" type="odsConsumeOrder" >
        <result column="ROW_ID" property="rowId" />
        <result column="CONSUME_NO" property="consumeNo" />
        <result column="CONSUME_ITEM_NO" property="consumeItemNo" />
        <result column="ORDER_TYPE" property="orderType" />
        <result column="PLANT" property="plant" />
        <result column="WAREHOUSE_CODE" property="warehouseCode" />
        <result column="WAREHOUSE_NAME" property="warehouseName" />
        <result column="LOCATION" property="location" />
        <result column="MATERIAL_NO" property="materialNo" />
        <result column="CUSTOMER_MODEL" property="customerModel" />
        <result column="MATERIAL_DESP" property="materialDesp" />
        <result column="UNIT" property="unit" />
        <result column="VENDOR_CODE" property="vendorCode" />
        <result column="VENDOR_NAME" property="vendorName" />
        <result column="DELIVERY_CODE" property="deliveryCode" />
        <result column="DELIVERY_NAME" property="deliveryName" />
        <result column="DELIVERY_DATE" property="deliveryDate" jdbcType="DATE" />
        <result column="CREATE_BY" property="createBy" />
        <result column="CREATE_DATE" property="createDate" jdbcType="DATE" />
        <result column="MODIFY_BY" property="modifyBy" />
        <result column="MODIFY_DATE" property="modifyDate" jdbcType="DATE" />
        <result column="FLAG" property="flag" />
        <result column="VERSION" property="version" />
        <result column="REQUIRE_QTY" property="requireQty" />
        <result column="ORDER_CLOSE" property="orderClose" />
        <result column="PRESACN_FLAG" property="presacnFlag" />
        <result column="CHECK_FLAG" property="checkFlag" />
        <result column="FINISH_QTY" property="finishQty" />
        <result column="CHECK_DATE" property="checkDate" jdbcType="DATE" />
        <result column="CHECK_BY" property="checkBy" />
        <result column="FINISH_FLAG" property="finishFlag" />
        <result column="BIN" property="bin" />
        <result column="POSTING_DATE" property="postingDate" jdbcType="DATE" />
        <result column="SAP_FLAG" property="sapFlag" />
        <result column="SAP_MSG" property="sapMsg" />
        <result column="MAT_DOC" property="matDoc" />
        <result column="DOC_YEAR" property="docYear" />
        <result column="IN_OUT_FLAG" property="inOutFlag" />
        <result column="IN_OUT_MSG" property="inOutMsg" />
        <result column="GL_ACCOUNT" property="glAccount" />
        <result column="COST_CENTER" property="costCenter" />
	</resultMap>
	
	<!-- 数据库中所有字段 -->
	<sql id="Base_Column_List" >
        ROW_ID, CONSUME_NO, CONSUME_ITEM_NO, ORDER_TYPE, PLANT, WAREHOUSE_CODE,
        WAREHOUSE_NAME,
        LOCATION, MATERIAL_NO, CUSTOMER_MODEL, MATERIAL_DESP, UNIT, VENDOR_CODE,
        VENDOR_NAME,
        DELIVERY_CODE, DELIVERY_NAME, DELIVERY_DATE, CREATE_BY, CREATE_DATE, MODIFY_BY,
        MODIFY_DATE,
        FLAG, VERSION, REQUIRE_QTY, ORDER_CLOSE, PRESACN_FLAG, CHECK_FLAG,
        FINISH_QTY, CHECK_DATE,
        CHECK_BY, FINISH_FLAG, BIN, POSTING_DATE, SAP_FLAG, SAP_MSG, MAT_DOC, DOC_YEAR,
        IN_OUT_FLAG,
        IN_OUT_MSG, GL_ACCOUNT, COST_CENTER
	</sql>
	
	<sql id="selectAllOdsConsumeOrder">
		select 
		<include refid="Base_Column_List" /> 
		from ODS_CONSUME_ORDER
	</sql>
	
	<select id="get" resultMap="BaseResultMap" parameterType="long">
		<include refid="selectAllOdsConsumeOrder" />
		where ROW_ID = #{rowId}
	</select>
	
	<select id="getAll" resultMap="BaseResultMap">
		<include refid="selectAllOdsConsumeOrder" />
	</select>
	
	<delete id="delete" parameterType="odsConsumeOrder" >
		delete from ODS_CONSUME_ORDER WHERE ROW_ID = {rowId}
	</delete>
	
	<insert id="save" parameterType="odsConsumeOrder" >
        <selectKey keyProperty="rowId" order="BEFORE" resultType="long">
            SELECT SEQ_CONSUME_ORDER_ID.NEXTVAL AS ID FROM DUAL
        </selectKey>
        insert into ODS_CONSUME_ORDER (ROW_ID, CONSUME_NO, CONSUME_ITEM_NO,
        ORDER_TYPE, PLANT, WAREHOUSE_CODE,
        WAREHOUSE_NAME, LOCATION, MATERIAL_NO,
        CUSTOMER_MODEL, MATERIAL_DESP, UNIT,
        VENDOR_CODE, VENDOR_NAME, DELIVERY_CODE,
        DELIVERY_NAME, DELIVERY_DATE, CREATE_BY,
        CREATE_DATE, MODIFY_BY, MODIFY_DATE,
        FLAG, VERSION, REQUIRE_QTY,
        ORDER_CLOSE, PRESACN_FLAG, CHECK_FLAG,
        FINISH_QTY, CHECK_DATE, CHECK_BY,
        FINISH_FLAG, BIN, POSTING_DATE,
        SAP_FLAG, SAP_MSG, MAT_DOC,
        DOC_YEAR, IN_OUT_FLAG, IN_OUT_MSG,
        GL_ACCOUNT, COST_CENTER)
        values (#{rowId}, #{consumeNo}, #{consumeItemNo},
        #{orderType}, #{plant}, #{warehouseCode},
        #{warehouseName}, #{location}, #{materialNo},
        #{customerModel}, #{materialDesp}, #{unit},
        #{vendorCode}, #{vendorName}, #{deliveryCode},
        #{deliveryName}, #{deliveryDate,jdbcType=DATE}, #{createBy},
        #{createDate,jdbcType=DATE}, #{modifyBy}, #{modifyDate,jdbcType=DATE},
        #{flag}, #{version}, #{requireQty},
        #{orderClose}, #{presacnFlag}, #{checkFlag},
        #{finishQty}, #{checkDate,jdbcType=DATE}, #{checkBy},
        #{finishFlag}, #{bin}, #{postingDate,jdbcType=DATE},
        #{sapFlag}, #{sapMsg}, #{matDoc},
        #{docYear}, #{inOutFlag}, #{inOutMsg},
        #{glAccount}, #{costCenter})
	</insert>
	
	<update id="update" parameterType="odsConsumeOrder" >
		update ODS_CONSUME_ORDER
		set 
	        CONSUME_NO = #{record.consumeNo},
	        CONSUME_ITEM_NO = #{record.consumeItemNo},
	        ORDER_TYPE = #{record.orderType},
	        PLANT = #{record.plant},
	        WAREHOUSE_CODE = #{record.warehouseCode},
	        WAREHOUSE_NAME = #{record.warehouseName},
	        LOCATION = #{record.location},
	        MATERIAL_NO = #{record.materialNo},
	        CUSTOMER_MODEL = #{record.customerModel},
	        MATERIAL_DESP = #{record.materialDesp},
	        UNIT = #{record.unit},
	        VENDOR_CODE = #{record.vendorCode},
	        VENDOR_NAME = #{record.vendorName},
	        DELIVERY_CODE = #{record.deliveryCode},
	        DELIVERY_NAME = #{record.deliveryName},
	        DELIVERY_DATE = #{record.deliveryDate,jdbcType=DATE},
	        CREATE_BY = #{record.createBy},
	        CREATE_DATE = #{record.createDate,jdbcType=DATE},
	        MODIFY_BY = #{record.modifyBy},
	        MODIFY_DATE = #{record.modifyDate,jdbcType=DATE},
	        FLAG = #{record.flag},
	        VERSION = #{record.version},
	        REQUIRE_QTY = #{record.requireQty},
	        ORDER_CLOSE = #{record.orderClose},
	        PRESACN_FLAG = #{record.presacnFlag},
	        CHECK_FLAG = #{record.checkFlag},
	        FINISH_QTY = #{record.finishQty},
	        CHECK_DATE = #{record.checkDate,jdbcType=DATE},
	        CHECK_BY = #{record.checkBy},
	        FINISH_FLAG = #{record.finishFlag},
	        BIN = #{record.bin},
	        POSTING_DATE = #{record.postingDate,jdbcType=DATE},
	        SAP_FLAG = #{record.sapFlag},
	        SAP_MSG = #{record.sapMsg},
	        MAT_DOC = #{record.matDoc},
	        DOC_YEAR = #{record.docYear},
	        IN_OUT_FLAG = #{record.inOutFlag},
	        IN_OUT_MSG = #{record.inOutMsg},
	        GL_ACCOUNT = #{record.glAccount},
	        COST_CENTER = #{record.costCenter}
		where ROW_ID = #{odsConsumeOrder.rowId}
	</update>
	
	<!-- 查询条件 -->
	<sql id="searchOdsConsumeOrder_fragement">
		where 1=1 
		<if test="odsConsumeOrder.rowId != null" >
	      and ROW_ID = #{odsConsumeOrder.rowId},
	    </if>
	    <if test="odsConsumeOrder.bin != null and odsConsumeOrder.bin != ''" >
	      and BIN like '%'||#{odsConsumeOrder.bin}||'%' 
	    </if>
	    <if test="odsConsumeOrder.consumeNo != null and odsConsumeOrder.consumeNo != ''" >
	      and CONSUME_NO like '%'||#{odsConsumeOrder.consumeNo}||'%' 
	    </if>
	    <if test="odsConsumeOrder.consumeItemNo != null and odsConsumeOrder.consumeItemNo != ''" >
	      and CONSUME_ITEM_NO like '%'||#{odsConsumeOrder.consumeItemNo}||'%' 
	    </if>
	    <if test="odsConsumeOrder.plant != null and odsConsumeOrder.plant != ''" >
	      and PLANT like '%'||#{odsConsumeOrder.plant}||'%' 
	    </if>
	    <if test="odsConsumeOrder.sapFlag != null and odsConsumeOrder.sapFlag != '' and odsConsumeOrder.sapFlag != -1" >
	      and sap_flag = #{odsConsumeOrder.sapFlag}
	    </if>
	    <if test="odsConsumeOrder.customerModel != null and odsConsumeOrder.customerModel != ''" >
	      and CUSTOMER_MODEL like '%'||#{odsConsumeOrder.customerModel}||'%'  
	    </if>
	    <if test="odsConsumeOrder.location != null and odsConsumeOrder.location != ''" >
	      and LOCATION IN (${odsConsumeOrder.location})
	    </if>
	    <if test="odsConsumeOrder.materialNo != null and odsConsumeOrder.materialNo != ''" >
	      and MATERIAL_NO like '%'||#{odsConsumeOrder.materialNo}||'%' 
	    </if>
	    <if test="odsConsumeOrder.flag != null and odsConsumeOrder.flag != -1" >
	      and FLAG = #{odsConsumeOrder.flag}
	    </if>
	    <if test="odsConsumeOrder.checkFlag != null and odsConsumeOrder.checkFlag != ''" >
	      and CHECK_FLAG = #{odsConsumeOrder.checkFlag}
	    </if>
	    <if test="odsConsumeOrder.finishFlag != null and odsConsumeOrder.finishFlag != ''" >
	      and FINISH_FLAG = #{odsConsumeOrder.finishFlag}
	    </if>
	    <if test="odsConsumeOrder.begin != null and odsConsumeOrder.begin != ''" >
	      	<![CDATA[
				and CREATE_DATE >= TO_DATE(#{odsConsumeOrder.begin}||' 00:00:00', 'yyyy-mm-dd hh24:mi:ss')
			]]>
	    </if>
	    <if test="odsConsumeOrder.end != null and odsConsumeOrder.end != ''" >
	      	<![CDATA[
				and CREATE_DATE <= TO_DATE(#{odsConsumeOrder.end}||' 23:59:59', 'yyyy-mm-dd hh24:mi:ss')
			]]>
	    </if>
		ORDER BY CREATE_DATE DESC, CONSUME_NO, CONSUME_ITEM_NO
	</sql>
	
	<!-- 分页条件查询 -->
	<select id="searchOdsConsumeOrderByPage" resultMap="BaseResultMap">
		<include refid="pagination_Head" />
		<include refid="selectAllOdsConsumeOrder" />
		<include refid="searchOdsConsumeOrder_fragement" />
		<include refid="pagination_Tail" />
	</select>
	
	<select id="searchOdsConsumeOrderCount" resultType="long">
		<include refid="count_Head" />
		<include refid="selectAllOdsConsumeOrder" />
		<include refid="searchOdsConsumeOrder_fragement" />
		<include refid="count_Tail" />
	</select>
	
	<delete id="deleteAll" >
		<![CDATA[ delete from ODS_CONSUME_ORDER where ROW_ID in ]]>
		<foreach collection="idList" item="item" index="index" open="(" separator="," close=")">
			#{item}
	  	</foreach>
	</delete>
	
	<update id="confirmConsumeOrder">
		update ODS_CONSUME_ORDER
			set CHECK_FLAG = 1,
				CHECK_DATE = sysdate,
				CHECK_BY = #{userName}
		where ROW_ID in 
		<foreach collection="idList" item="item" index="index" open="(" separator="," close=")">
			#{item}
	  	</foreach>
	</update>
	
	<update id="updateCostCenter" parameterType="odsConsumeOrder">
		update ODS_CONSUME_ORDER
			set cost_center = #{odsConsumeOrder.costCenter},
				gl_account = #{odsConsumeOrder.glAccount},
				modify_date = sysdate,
				modify_by = #{odsConsumeOrder.modifyBy}
		where consume_no = #{odsConsumeOrder.consumeNo}
	</update>
	
	<!-- 条件查询 -->
	<select id="getOdsConsumeOrderListByParm" resultMap="BaseResultMap">
		<include refid="selectAllOdsConsumeOrder" />
		<include refid="searchOdsConsumeOrder_fragement" />
	</select>

    <select id="getConsumeSequence" resultType="long">
	    SELECT SEQ_CONSUME_ORDER_NO.NEXTVAL FROM dual
	</select>

    <update id="updateSapReMsg" parameterType="odsConsumeOrder">
		update ODS_CONSUME_ORDER 
			set SAP_FLAG=#{odsConsumeOrder.sapFlag},
			SAP_MSG=#{odsConsumeOrder.sapMsg},
			mat_doc=#{odsConsumeOrder.matDoc},
			DOC_YEAR=#{odsConsumeOrder.docYear}
		where ROW_ID=#{odsConsumeOrder.rowId} 
			and plant = #{odsConsumeOrder.plant}
	</update>
	
	<!-- 手持订单扫描检查 -->
	<select id="checkConsumeOrderByPDA" resultType="string">
	   <![CDATA[
            SELECT CHECK_FLAG
		    FROM (SELECT T.CHECK_FLAG FROM ODS_CONSUME_ORDER T WHERE T.CONSUME_NO = #{consumeNo} ORDER BY T.CHECK_FLAG)
		    WHERE ROWNUM < 2
        ]]>
	</select>
	
	<!-- 手持，用户权限检查 -->
	<select id="checkConsumeOrderLoc" resultType="string">
        <![CDATA[
        SELECT CASE 
                WHEN COUNT(0) > 0 THEN 'Y'
                ELSE 'N'
            END
        FROM ODS_CONSUME_ORDER t
        WHERE t.CONSUME_NO = #{consumeNo}
            AND t.plant IN (
                SELECT DISTINCT w.code
                FROM cd_user_wh_loc u, cd_wh_info w
                WHERE w.row_id = u.wh_id
                    AND u.user_id = #{id}
            )
            AND t.LOCATION IN (
                SELECT loc_code
                FROM CD_USER_WH_LOC
                WHERE user_id = #{id}
            )
        ]]>
	</select>
	
	<select id="scanStatus" resultMap="BaseResultMap">
    	<![CDATA[
    		SELECT SAP_FLAG,FINISH_FLAG
    		FROM ODS_CONSUME_ORDER S
    		WHERE S.CONSUME_NO = #{orderNo}
    	]]>
    </select>
    
</mapper>