<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">
	<!-- Customer Stock 管理 -->
	<bean id="odsCustomerStockServiceClient"
		class="com.haier.openplatform.wms.customer.impl.OdsCustomerStockServiceClientImpl">
		<property name="odsCustomerStockService" ref="odsCustomerStockService"></property>
	</bean>
	<dubbo:service
		interface="com.haier.openplatform.wms.customer.service.OdsCustomerStockServiceClient"
		owner="Hevwms" ref="odsCustomerStockServiceClient" version="5.0" protocol="dubbo"
		delay="-1" registry="qingdaoRegistry690" />

</beans>