<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
				  
<mapper namespace="com.haier.hevwms.remoting.rf.dao.OtcwmsOrderUploadDAO">
	<select id="orderUpload" statementType="CALLABLE">
		<![CDATA[
		  {call prc_barcode_check(
		  #{in.orno,mode=IN,jdbcType=VARCHAR},
		  #{in.barcode,mode=IN,jdbcType=VARCHAR},
		  #{in.user,mode=IN,jdbcType=VARCHAR},
		  #{in.location,mode=IN,jdbcType=VARCHAR},
		  #{in.doctype,mode=IN,jdbcType=VARCHAR},
		  #{in.qty,mode=IN,jdbcType=INTEGER},
		  #{in.ordertype,mode=IN,jdbcType=VARCHAR},
		  #{in.carno,mode=IN,jdbcType=VARCHAR},
		  #{in.remark,mode=IN,jdbcType=VARCHAR},
		  #{out.status,mode=OUT,jdbcType=VARCHAR},
		  #{out.msg,mode=OUT,jdbcType=VARCHAR},
		  #{out.matno,mode=OUT,jdbcType=VARCHAR},
		  #{out.matdesc,mode=OUT,jdbcType=VARCHAR},
		  #{out.location,mode=OUT,jdbcType=VARCHAR},
		  #{out.scanqty,mode=OUT,jdbcType=INTEGER},
	      #{out.poqty,mode=OUT,jdbcType=INTEGER}
		  )}
		]]>
	</select>
	<select id="orderUploadPD" statementType="CALLABLE">
		<![CDATA[
		  {call prc_goods_pd(
		  #{in.orno,mode=IN,jdbcType=VARCHAR},
		  #{in.location,mode=IN,jdbcType=VARCHAR},
		  #{in.sublocation,mode=IN,jdbcType=VARCHAR},
		  #{in.user,mode=IN,jdbcType=VARCHAR},
		  #{in.barcode,mode=IN,jdbcType=VARCHAR},
		  #{in.qty,mode=IN,jdbcType=VARCHAR},
		  #{out.status,mode=OUT,jdbcType=VARCHAR},
		  #{out.msg,mode=OUT,jdbcType=VARCHAR},
		  #{out.matno,mode=OUT,jdbcType=VARCHAR},
		  #{out.matdesc,mode=OUT,jdbcType=VARCHAR},
		  #{out.scanqty,mode=OUT,jdbcType=INTEGER},
	      #{out.poqty,mode=OUT,jdbcType=INTEGER}
		  )}
		]]>
	</select>
	<select id="orderXjxcChcek" statementType="CALLABLE">
		<![CDATA[
		  {call prc_barcode_alert(
		  #{in.barcode,mode=IN,jdbcType=VARCHAR},
		  #{out.status,mode=OUT,jdbcType=VARCHAR},
		  #{out.msg,mode=OUT,jdbcType=VARCHAR} 
		  )}
		]]>
	</select>
</mapper>