
{{#component "noAuth js-comp"}}
    <div class="user-profile" style="height: 450px;">
        <div class="profile-content">
            <div class="profile-body">
                您无权访问该页面
            </div>
        </div>
    </div>
{{/component}}