{{#component "stocktaking js-comp"}}
    <style type="text/css">
        #addInfoForm{
            padding-top: 2px;
            padding-left: 10px;
            font-size: 14px;
            color: #636E7B;
        }
        #addInfoForm input{
            height: 30px;
            width: 155px;
            border: 1px solid #CCC;
            border-radius: 3px;
        }
        #addInfoForm table tr{
            height: 40px;;
        }
        #addInfoForm table select{
            width: 155px;
            height: 25px;
        }
        .locTr td{
            padding-top: 5px;
        }
	
    </style>
    <div id="plantDiv" class="easyui-layout"  style="width:101%;">
        <div class="searchDivlow" region="north">
            <table id="searchTab1" style="margin-top:15px">
                <tr>
                   
		    <td class="leftCls">   &nbsp;&nbsp;   Code:   &nbsp;&nbsp;
		    <input id="codeS" type="text" class="radiusCls"/>
                    &nbsp;&nbsp;</td> 
		     <td class="rightCls" style="margin-left: 20px"> Name:  &nbsp;&nbsp;  </td>
                    <td colspan="3"  class="leftCls"><input id="nameS" class="radiusCls" type="text"/></td>
                </tr>
                
            </table>
            <div id="toolbar">
                <div class="btn-group">
                    <a href="javascript:void(0)" class="btnStyle serchBtn" id="queryBtn">Query</a>
                    <a href="javascript:void(0)" class="btnStyle addBtn" id="addBtn">Add</a>
		    		<a href="javascript:void(0)" class="btnStyle editBtn" id="editBtn" onclick="edit()">Edit</a>
		    		<a href="javascript:void(0)" class="btnStyle deleteBtn" id="deleteBtn" >Delete</a>
                    <a href="javascript:void(0)" class="btnStyle resetBtn" onclick="resetData(this)">Reset</a>
                </div>
            </div>
        </div>
        <div region="center" style="border:0px;  overflow-y: hidden;  margin-top: -2px;">
            <table id="dataGrid" style="width:100%;"></table>
        </div>
    </div>
    <!-- 添加窗口 -->
        <div id="addMetarialWin" class="easyui-window"
             data-options="modal:true,closed:true, top:100, left:($(window).width() - 700) * 0.5,collapsible:false,minimizable:false,maximizable:false,draggable:true,resizable:false"
             style="width: 700px; height: 240px;">
            <div class="easyui-layout" data-options="fit:true">
                <div data-options="region:'center',border:false">
                    <form id="addInfoForm" method="post">
                        <table style="border: 0"  width="100%">
                            <tr height="40px">
                                <td height="30px" align="right" valign="middle">Code:&nbsp;&nbsp;</td>
                                <td>
                                	<input id="code" name="code"  height="30px" type="text" style="border:1px solid #CCC;border-radius:3px;" class="easyui-validatebox" 
					    				required="true" missingMessage="The Data not null"/>
					    			<font color="red">*</font>
					    		</td>
								<td align="right" valign="middle">Name:&nbsp;&nbsp;</td>
                                <td>
                                	<input id="name" name="name" type="text" style="border:1px solid #CCC;border-radius:3px;" class="easyui-validatebox" 
					    				type="text" required="true" missingMessage="The Data not null"/>
					    			<font color="red">*</font>
					    		</td>
                            </tr>
			     			<tr  height="40px">
                                <td align="right" valign="middle">PurCode:&nbsp;&nbsp;</td>
                                <td width="190">
                                	<input type="text" id="purCode" name="purCode" class="easyui-validatebox" 
                                		required="true" missingMessage="The Data not null" style=" border:1px solid #CCC;border-radius: 3px;"/>
                                 	<font color="red">*</font>
                                </td>
                                <td align="right" valign="middle">PurName:&nbsp;&nbsp;</td>
                                <td>
                                	<input type="text" id="purName" name="purName"class="easyui-validatebox" class="easyui-validatebox" 
                                		required="true" missingMessage="The Data not null" style=" border:1px solid #CCC;border-radius: 3px;"/>
			            			<font color="red">*</font>
								</td>
                            </tr>
                            <tr height="40px">
                                <td align="right" valign="middle">SalesCode:&nbsp;&nbsp;</td>
                                <td width="190">
                                	<input type="text" id="salesCode" name="salesCode" class="easyui-validatebox" 
                                		required="true" missingMessage="The Data not null" style=" border: 1px solid #CCC;border-radius: 3px;"/>
                                 	<font color="red">*</font>
                                </td>
                                <td align="right" valign="middle">SalesName:&nbsp;&nbsp;</td>
                                <td>
                                	<input type="text" id="salesName" name="salesName" class="easyui-validatebox" class="easyui-validatebox" 
                                		required="true" missingMessage="The Data not null" style=" border: 1px solid #CCC;border-radius: 3px;"/>
                                	<font color="red">*</font>
			            			<input id="rowId" type="hidden" name="rowId"/>
								</td>
                            </tr>
                        </table>
                    </form>
                </div>
              
                <div data-options="region:'south',border:false"
                     style="text-align: right; padding: 1px; height: 35px">
                    <a href="javascript:void(0)" class="btnStyle resetBtn" onclick="resetWinData(this)">Reset</a>
                    <a href="javascript:void(0)" class="btnStyle saveBtn" id="saveBtn" onclick="savePd();">Save</a>
                    <a href="javascript:void(0)" class="btnStyle closeBtn" id="cancelBtn" onclick="closePdWin();">Cancel</a>
                </div>
            </div>
        </div>
    <script type="text/javascript">
    var totalWidth = $('#dataGrid').width();
    
    // set width of column 
	function fixWidth(percent) { 
    	return totalWidth * percent;   
	}
    
    var selPdColumns="";
    $(function(){
    	$('#plantDiv').height(suitHeight);
        var columns=[[{
            field : 'ck',
            checkbox : true,
            width: fixWidth(0.01),
            align : 'center'
        }, {
            field : 'name',
            title : 'Name',
            align : 'center',
            width: fixWidth(0.25),
            sortable : true
        }, {
            field : 'code',
            title : 'Code',
            align : 'center',
            width: fixWidth(0.08),
            sortable : true
       
        }, {
            field : 'purName',
            title : 'PurName',
            align : 'center',
            width: fixWidth(0.08),
            sortable : true
        
        }, {
            field : 'purCode',
            title : 'PurCode',
            align : 'center',
            width: fixWidth(0.08),
            sortable : true
        }, {
            field : 'salesName',
            title : 'SalesName',
            align : 'center',
            width: fixWidth(0.08),
            sortable : true
        
        }, {
            field : 'salesCode',
            title : 'SalesCode',
            align : 'center',
            width: fixWidth(0.08),
            sortable : true
        
        }, {
            field : 'modifyBy',
            title : 'ModifyBy',
            align : 'center',
            width: fixWidth(0.13),
            sortable : true
        
        } , {
            field : 'modifyDate',
            title : 'ModifyDate',
            align : 'center' ,
            width: fixWidth(0.14),
            formatter:formatYMDHMS
        
        }  ]];
       
        var grid = $('#dataGrid').datagrid({
            rownumbers:true,
            columns:columns,
            pagination:true,
            striped:true,
            pageNumber : 1,
            url:'/plant/list',
            fit:true,
            method:'post',
            onLoadSuccess:function() {
                $('.datagrid-btable').find('div.datagrid-cell').css('text-align','left');
            },
            onLoadError:function(){
               $.messager.alert('System Information','Network Abnormal!','warning');
            }
        });
 		initPagination(grid);
        gridScroll(grid);
        $('#queryBtn').on('click',function(){
            queryData();
        })
        $('#addBtn').on('click',function(){
            addData();
        })
	$('#deleteBtn').on('click',function(){
		deleteData();
	})
        $('#orderOpenBtn').on('click',function(){
            orderOpen();
        })
        $('#orderCloseBtn').on('click',function(){
            orderClose();
        })
        $('#exportBtn').on('click',function(){
            exportData();
        })    
        $('#warehouseCode').combobox({
            onSelect:function(record){      
                $.ajax({
                    url:'/loc/select/tree',
                    type:'post',
                    dataType:'json',
                    data:{
                       rowId:record.rowId
                    },
                    success:function(data){
                        $('#locTree').tree({
                            checkbox:true,
                            data:data
                        });
                    }
                });
                
            }
        });

    });


     function addData(){
	    $('#addInfoForm').form('clear');
        $('#addMetarialWin').window({
            iconCls:'icon-add',
            title:'Add Plant'
        });
        
        $('#addMetarialWin').window('open');
	    url="/basic/plant/save";
     }


    function queryData(){
      var grid=  $('#dataGrid').datagrid({
            url:'/plant/list',
            queryParams: {
                plantCode:$('#codeS').val(),
		plantName:$('#nameS').val()
            },
            onLoadSuccess : function(data) {
            	$('.datagrid-btable').find('div.datagrid-cell').css('text-align','left');
                $("#dataGrid").datagrid('clearChecked');
                if (data.total == 0 && data.rows.length == 0) {
                    $.messager.alert('System Information',
                            'No records found.',
                            'warning');
                }
            }
        });
 		initPagination(grid);
        gridScroll(grid);
    }

 //保存
    function savePd(){
   
	if(!$("#addInfoForm").form("validate")){return}

	 $.post(url,$("#addInfoForm").serialize(),function(data){
	       if(data=='success'){
			$.messager.alert('System Information',	'Save Success!');
			closePdWin();
			queryData();

		}else{
			$.messager.alert('System Information',
					'Add Failure!',	'warning');
		}
		
            });     
    }

    
    //修改
    function edit(){
    
	var selectedRows = $("#dataGrid").datagrid('getChecked');
	
	if (selectedRows.length != 1) {
	     $.messager.alert('System Information',
	    'Please select one data!', 'warning');
		return false;
	}
	 var row = selectedRows[0];
	$('#rowId').val(row.rowId);
    $('#addMetarialWin').window({
            iconCls:'icon-edit',
            title:'Update Plant'
        });
	$('#addMetarialWin').window('open');
	$('#code').val(row.code);
	$('#name').val(row.name);
	$('#purCode').val(row.purCode);
	$('#purName').val(row.purName);
	$('#salesCode').val(row.salesCode);
	$('#salesName').val(row.salesName);
	url = "/basic/plant/update";
    }

    function closePdWin(){
        $('#addInfoForm').form('clear');
        $('#addMetarialWin').window('close');
    }

    function deleteData(){
	var selectedRows = $("#dataGrid").datagrid('getChecked');
	if (selectedRows.length < 1) {
	     $.messager.alert('System Information',
	    'Please select datas!', 'warning');
		return false;
	}
	$.messager.confirm(
                'System Information',
                'Are you sure delete plant info?',
                function(r) {
                    if (r) {
                        var codes = new Array();
                        for ( var i = 0; i < selectedRows.length; i++) {
                            codes.push(selectedRows[i].rowId);
                        }
                        $.get(
                                "/basic/plant/delete",
                                {
                                    'ids' : codes.join()
                                },
                                function(data) {
                                    if (data!='success') {
						$.messager
								.alert(
										'System Information',
										'Delete Failure!',
										'warning');
					} else {
						$.messager
								.alert(
										'System Information',
										'Delete Success!',
										'warning');
						$('#dataGrid').datagrid('reload');
					}
                                   
                                });
                    }
                });

    }

    </script>
{{/component}}