<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.haier.hevwms.security.dao.SystemConfigDAO">

	<update id='fifoConfig'>
	    
	    update fifo_config set fifo_flag = #{fifoFlag}, fifo_period = #{fifoPeroid} 
	</update>
</mapper>