
{{#component "header js-comp"}}
    <div class="" style="background-color:rgb(32, 33, 126)">
        <div class="navbar-inner">
            <div class="row-fluid" style="height: 62px;">
                <div class="span10" style="padding-left: 10px;white-space: nowrap">
                    <a class="brand" href="www.haier.cn/login" ><div class="icons-HAIER" style="float: left"></div><div style="position: relative;
top: 14px;">690权限管理与分配中心</div></a>
                </div>
                <div class="span2" style="padding: 20px">
                    <a href="#" class="navbar-link">Welcome，{{_USER_.nickName}}{{_USER_.name}}</a>
                   <a href="/user/logout" class="navbar-link">登出</a>
                </div>
            </div>
        </div>
    </div>

{{/component}}