<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
     http://www.springframework.org/schema/beans 
     http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

	<!-- DAO -->
	<bean id="soPDADAO" class="org.mybatis.spring.mapper.MapperFactoryBean" parent="baseDAO">
		<property name="mapperInterface" value="com.haier.hevwms.so.dao.SoPDADAO" />
	</bean>
	<!-- Service -->
	<bean id="soPDAService" class="com.haier.hevwms.so.service.impl.SoPDAServiceImpl">
		<property name="soPDADAO" ref="soPDADAO"></property>
		<property name="wmsLoginDAO" ref="loginDAO"></property>
        <property name="fileUploadDAO" ref="fileUploadDAO"></property>
        <property name="rfLogDAO" ref="rfLogDAO"></property>
	</bean>
</beans>