@import "pokeball/variables";
$menu-selected: lighten($default-primary-color, 20%);
$font-success-color: $default-success-color;
$default-panel-color: #005fa7;
$user-sidebar-background-color: #5f85ba;
$close-font-color: #D4D4D4;
