.icons-favicon {
  width: 512px;
  height: 512px;
  background: url(/images/icons.png) -0px -0px no-repeat;
}
.icons-text-5-22 {
  width: 461px;
  height: 226px;
  background: url(/images/icons.png) -512px -0px no-repeat;
}
.icons-icons {
  width: 258px;
  height: 200px;
  background: url(/images/icons.png) -512px -226px no-repeat;
}
.icons-choosed {
  width: 258px;
  height: 36px;
  background: url(/images/icons.png) -512px -426px no-repeat;
}
.icons-img-99 {
  width: 202px;
  height: 30px;
  background: url(/images/icons.png) -770px -226px no-repeat;
}
.icons-mCSB-buttons {
  width: 160px;
  height: 144px;
  background: url(/images/icons.png) -770px -256px no-repeat;
}
.icons-tab-bg {
  width: 138px;
  height: 40px;
  background: url(/images/icons.png) -512px -462px no-repeat;
}
.icons-title {
  width: 137px;
  height: 36px;
  background: url(/images/icons.png) -770px -426px no-repeat;
}
.icons-tab-bg-active {
  width: 137px;
  height: 36px;
  background: url(/images/icons.png) -650px -462px no-repeat;
}
.icons-search {
  width: 119px;
  height: 29px;
  background: url(/images/icons.png) -787px -462px no-repeat;
}
.icons-logo {
  width: 117px;
  height: 37px;
  background: url(/images/icons.png) -0px -512px no-repeat;
}
.icons-drop-left {
  width: 24px;
  height: 100px;
  background: url(/images/icons.png) -930px -256px no-repeat;
}
.icons-HAIER {
  width: 95px;
  height: 29px;
  background: url(/images/icons.png) -117px -512px no-repeat;
}
.icons-loging-logo {
  width: 69px;
  height: 53px;
  background: url(/images/icons.png) -0px -549px no-repeat;
}
.icons-loging-top-bg {
  width: 1px;
  height: 53px;
  background: url(/images/icons.png) -954px -256px no-repeat;
}
.icons-new-11 {
  width: 40px;
  height: 14px;
  background: url(/images/icons.png) -930px -356px no-repeat;
}
.icons-serch-icon {
  width: 30px;
  height: 30px;
  background: url(/images/icons.png) -930px -370px no-repeat;
}
.icons-prevous {
  width: 26px;
  height: 22px;
  background: url(/images/icons.png) -770px -400px no-repeat;
}
.icons-next {
  width: 26px;
  height: 22px;
  background: url(/images/icons.png) -796px -400px no-repeat;
}
.icons-drop-right-active {
  width: 24px;
  height: 24px;
  background: url(/images/icons.png) -907px -426px no-repeat;
}
.icons-drop-right {
  width: 24px;
  height: 24px;
  background: url(/images/icons.png) -931px -426px no-repeat;
}
.icons-1-1-2 {
  width: 24px;
  height: 22px;
  background: url(/images/icons.png) -822px -400px no-repeat;
}
.icons-1-1 {
  width: 24px;
  height: 22px;
  background: url(/images/icons.png) -846px -400px no-repeat;
}
.icons-1-1-blue {
  width: 24px;
  height: 22px;
  background: url(/images/icons.png) -870px -400px no-repeat;
}
.icons-1-1-1 {
  width: 24px;
  height: 22px;
  background: url(/images/icons.png) -894px -400px no-repeat;
}
.icons-add {
  width: 22px;
  height: 22px;
  background: url(/images/icons.png) -918px -400px no-repeat;
}
.icons-user {
  width: 21px;
  height: 20px;
  background: url(/images/icons.png) -940px -400px no-repeat;
}
.icons-img-77-09 {
  width: 18px;
  height: 20px;
  background: url(/images/icons.png) -955px -256px no-repeat;
}
.icons-icon-book {
  width: 15px;
  height: 19px;
  background: url(/images/icons.png) -955px -276px no-repeat;
}
.icons-uploadify-cancel {
  width: 16px;
  height: 16px;
  background: url(/images/icons.png) -954px -309px no-repeat;
}
.icons-icon-print {
  width: 16px;
  height: 16px;
  background: url(/images/icons.png) -954px -325px no-repeat;
}
.icons-icon-process-difference {
  width: 16px;
  height: 16px;
  background: url(/images/icons.png) -955px -426px no-repeat;
}
.icons-icon-payment-Reconciliation {
  width: 16px;
  height: 16px;
  background: url(/images/icons.png) -906px -462px no-repeat;
}
.icons-icon-scan {
  width: 16px;
  height: 16px;
  background: url(/images/icons.png) -922px -462px no-repeat;
}
.icons-icon-payment-apply {
  width: 16px;
  height: 16px;
  background: url(/images/icons.png) -938px -462px no-repeat;
}
.icons-icon-delete {
  width: 16px;
  height: 16px;
  background: url(/images/icons.png) -954px -462px no-repeat;
}
.icons-icon-lock {
  width: 16px;
  height: 16px;
  background: url(/images/icons.png) -212px -512px no-repeat;
}
.icons-icon-import {
  width: 16px;
  height: 16px;
  background: url(/images/icons.png) -228px -512px no-repeat;
}
.icons-icon-download-grey {
  width: 16px;
  height: 16px;
  background: url(/images/icons.png) -244px -512px no-repeat;
}
.icons-icon-export {
  width: 16px;
  height: 16px;
  background: url(/images/icons.png) -260px -512px no-repeat;
}
.icons-icon-download-white {
  width: 16px;
  height: 16px;
  background: url(/images/icons.png) -276px -512px no-repeat;
}
.icons-rubish {
  width: 16px;
  height: 16px;
  background: url(/images/icons.png) -292px -512px no-repeat;
}
.icons-icon-add {
  width: 16px;
  height: 16px;
  background: url(/images/icons.png) -308px -512px no-repeat;
}
.icons-pop-icon-error {
  width: 16px;
  height: 16px;
  background: url(/images/icons.png) -324px -512px no-repeat;
}
.icons-pop-icon-right {
  width: 16px;
  height: 16px;
  background: url(/images/icons.png) -340px -512px no-repeat;
}
.icons-icon-edit {
  width: 16px;
  height: 16px;
  background: url(/images/icons.png) -356px -512px no-repeat;
}
.icons-icon-serch {
  width: 16px;
  height: 15px;
  background: url(/images/icons.png) -954px -341px no-repeat;
}
.icons-icon-close {
  width: 14px;
  height: 16px;
  background: url(/images/icons.png) -372px -512px no-repeat;
}
.icons-icon-open {
  width: 14px;
  height: 16px;
  background: url(/images/icons.png) -386px -512px no-repeat;
}
.icons-locked {
  width: 15px;
  height: 15px;
  background: url(/images/icons.png) -400px -512px no-repeat;
}
.icons-icon-reset {
  width: 14px;
  height: 15px;
  background: url(/images/icons.png) -415px -512px no-repeat;
}
.icons-clear {
  width: 13px;
  height: 13px;
  background: url(/images/icons.png) -955px -295px no-repeat;
}
.icons-plus {
  width: 8px;
  height: 8px;
  background: url(/images/icons.png) -960px -370px no-repeat;
}
.icons-minus {
  width: 8px;
  height: 8px;
  background: url(/images/icons.png) -960px -378px no-repeat;
}
.icons-plus-white {
  width: 8px;
  height: 8px;
  background: url(/images/icons.png) -960px -386px no-repeat;
}
.icons-shade {
  width: 1px;
  height: 1px;
  background: url(/images/icons.png) -972px -226px no-repeat;
}
