<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.haier.hevwms.so.dao.SoPDADAO">
	<select id="orderDelete" statementType="CALLABLE">
        <![CDATA[
          {call PRC_BARCODE_SO_DELETE(
          #{in.orno,mode=IN,jdbcType=VARCHAR},
          #{in.barcode,mode=IN,jdbcType=VARCHAR},
          #{in.user,mode=IN,jdbcType=VARCHAR},
          #{in.doctype,mode=IN,jdbcType=VARCHAR},
          #{in.ordertype,mode=IN,jdbcType=VARCHAR},
          #{out.status,mode=OUT,jdbcType=VARCHAR},
          #{out.msg,mode=OUT,jdbcType=VARCHAR},
          #{out.matno,mode=OUT,jdbcType=VARCHAR},
          #{out.matdesc,mode=OUT,jdbcType=VARCHAR},
          #{out.location,mode=OUT,jdbcType=VARCHAR},
          #{out.scanqty,mode=OUT,jdbcType=VARCHAR},
          #{out.orderqty,mode=OUT,jdbcType=VARCHAR}
          )}
        ]]>
	</select>
	
	<select id="giftSoOrderDelete" statementType="CALLABLE">
        <![CDATA[
          {call PRC_BARCODE_GIFT_SO_DELETE(
          #{in.orno,mode=IN,jdbcType=VARCHAR},
          #{in.barcode,mode=IN,jdbcType=VARCHAR},
          #{in.user,mode=IN,jdbcType=VARCHAR},
          #{in.doctype,mode=IN,jdbcType=VARCHAR},
          #{in.qty,mode=IN,jdbcType=VARCHAR},
          #{in.ordertype,mode=IN,jdbcType=VARCHAR},
          #{out.status,mode=OUT,jdbcType=VARCHAR},
          #{out.msg,mode=OUT,jdbcType=VARCHAR},
          #{out.matno,mode=OUT,jdbcType=VARCHAR},
          #{out.matdesc,mode=OUT,jdbcType=VARCHAR},
          #{out.location,mode=OUT,jdbcType=VARCHAR},
          #{out.scanqty,mode=OUT,jdbcType=VARCHAR},
          #{out.orderqty,mode=OUT,jdbcType=VARCHAR}
          )}
        ]]>
	</select>

	<select id="scanSoCheck" statementType="CALLABLE">
        <![CDATA[
          {call PRC_BARCODE_SO_CHECK(
          #{inpara.orno,mode=IN,jdbcType=VARCHAR},
          #{inpara.barcode,mode=IN,jdbcType=VARCHAR},
          #{inpara.user,mode=IN,jdbcType=VARCHAR},
          #{inpara.bin,mode=IN,jdbcType=VARCHAR},
          #{inpara.doctype,mode=IN,jdbcType=VARCHAR},
		  #{inpara.qty,mode=IN,jdbcType=VARCHAR},
		  #{inpara.ordertype,mode=IN,jdbcType=VARCHAR},
		  #{inpara.remark,mode=IN,jdbcType=VARCHAR},
		  #{inpara.version,mode=IN,jdbcType=VARCHAR},
          #{result.status,mode=OUT,jdbcType=VARCHAR},
          #{result.msg,mode=OUT,jdbcType=VARCHAR},
          #{result.matno,mode=OUT,jdbcType=VARCHAR},
          #{result.matdesc,mode=OUT,jdbcType=VARCHAR},
          #{result.location,mode=OUT,jdbcType=VARCHAR},
          #{result.scanqty,mode=OUT,jdbcType=VARCHAR},
          #{result.orderqty,mode=OUT,jdbcType=VARCHAR}
          )}
        ]]>
	</select>
	
	<select id="scanSoOldBarcodeCheck" statementType="CALLABLE">
        <![CDATA[
          {call PRC_BARCODE_SO_OLD_BAR_CHECK(
          #{inpara.orno,mode=IN,jdbcType=VARCHAR},
          #{inpara.barcode,mode=IN,jdbcType=VARCHAR},
          #{inpara.oldBarcode,mode=IN,jdbcType=VARCHAR},
          #{inpara.user,mode=IN,jdbcType=VARCHAR},
          #{inpara.bin,mode=IN,jdbcType=VARCHAR},
          #{inpara.doctype,mode=IN,jdbcType=VARCHAR},
		  #{inpara.qty,mode=IN,jdbcType=VARCHAR},
		  #{inpara.ordertype,mode=IN,jdbcType=VARCHAR},
		  #{inpara.remark,mode=IN,jdbcType=VARCHAR},
		  #{inpara.version,mode=IN,jdbcType=VARCHAR},
          #{result.status,mode=OUT,jdbcType=VARCHAR},
          #{result.msg,mode=OUT,jdbcType=VARCHAR},
          #{result.matno,mode=OUT,jdbcType=VARCHAR},
          #{result.matdesc,mode=OUT,jdbcType=VARCHAR},
          #{result.location,mode=OUT,jdbcType=VARCHAR},
          #{result.scanqty,mode=OUT,jdbcType=VARCHAR},
          #{result.orderqty,mode=OUT,jdbcType=VARCHAR}
          )}
        ]]>
	</select>
	
	<select id="scanGiftSoCheck" statementType="CALLABLE">
        <![CDATA[
          {call PRC_BARCODE_GIFT_SO_CHECK(
          #{inpara.orno,mode=IN,jdbcType=VARCHAR},
          #{inpara.barcode,mode=IN,jdbcType=VARCHAR},
          #{inpara.user,mode=IN,jdbcType=VARCHAR},
          #{inpara.doctype,mode=IN,jdbcType=VARCHAR},
		  #{inpara.qty,mode=IN,jdbcType=VARCHAR},
		  #{inpara.ordertype,mode=IN,jdbcType=VARCHAR},
		  #{inpara.remark,mode=IN,jdbcType=VARCHAR},
		  #{inpara.version,mode=IN,jdbcType=VARCHAR},
          #{result.status,mode=OUT,jdbcType=VARCHAR},
          #{result.msg,mode=OUT,jdbcType=VARCHAR},
          #{result.matno,mode=OUT,jdbcType=VARCHAR},
          #{result.matdesc,mode=OUT,jdbcType=VARCHAR},
          #{result.location,mode=OUT,jdbcType=VARCHAR},
          #{result.scanqty,mode=OUT,jdbcType=VARCHAR},
          #{result.orderqty,mode=OUT,jdbcType=VARCHAR}
          )}
        ]]>
	</select>
	
	<select id="soOrderIgp" statementType="CALLABLE">
        <![CDATA[
          {call PRC_BARCODE_SO_COLLECT(
          #{in.orno,mode=IN,jdbcType=VARCHAR},
          #{in.user,mode=IN,jdbcType=VARCHAR},
          #{in.postingdate,mode=IN,jdbcType=VARCHAR},
          #{in.carNo,mode=IN,jdbcType=VARCHAR},
		  #{in.docType,mode=IN,jdbcType=VARCHAR},
          #{in.orderType,mode=IN,jdbcType=VARCHAR},
          #{in.version,mode=IN,jdbcType=VARCHAR},
		  #{in.transpoterName,mode=IN,jdbcType=VARCHAR},
		  #{in.invoiceNo,mode=IN,jdbcType=VARCHAR},
		  #{in.bin,mode=IN,jdbcType=VARCHAR},
          #{out.status,mode=OUT,jdbcType=VARCHAR},
          #{out.msg,mode=OUT,jdbcType=VARCHAR},
          #{out.orId,mode=OUT,jdbcType=VARCHAR}
          )}
        ]]>
	</select>
	
	<select id="giftSoOrderIgp" statementType="CALLABLE">
        <![CDATA[
          {call PRC_BARCODE_GIFT_SO_COLLECT(
          #{in.orno,mode=IN,jdbcType=VARCHAR},
          #{in.user,mode=IN,jdbcType=VARCHAR},
          #{in.postingdate,mode=IN,jdbcType=VARCHAR},
          #{in.carNo,mode=IN,jdbcType=VARCHAR},
		  #{in.docType,mode=IN,jdbcType=VARCHAR},
          #{in.orderType,mode=IN,jdbcType=VARCHAR},
          #{in.version,mode=IN,jdbcType=VARCHAR},
		  #{in.transpoterName,mode=IN,jdbcType=VARCHAR},
		  #{in.invoiceNo,mode=IN,jdbcType=VARCHAR},
          #{out.status,mode=OUT,jdbcType=VARCHAR},
          #{out.msg,mode=OUT,jdbcType=VARCHAR},
          #{out.orId,mode=OUT,jdbcType=VARCHAR}
          )}
        ]]>
	</select>
	<select id="soGoodsReceive" statementType="CALLABLE">
        <![CDATA[
          {call PRC_GOODS_SO_RECEIVE(
          #{in.orno,mode=IN,jdbcType=VARCHAR},
          #{in.user,mode=IN,jdbcType=VARCHAR},
          #{in.docType,mode=IN,jdbcType=VARCHAR},
          #{in.orderType,mode=IN,jdbcType=VARCHAR},
          #{in.version,mode=IN,jdbcType=VARCHAR},
          #{out.status,mode=OUT,jdbcType=VARCHAR},
          #{out.msg,mode=OUT,jdbcType=VARCHAR}
          )}
        ]]>
    </select>
	<select id="soGoodsDelivery" statementType="CALLABLE">
        <![CDATA[
          {call PRC_GOODS_SO_DELIVERY(
          #{in.orno,mode=IN,jdbcType=VARCHAR},
          #{in.user,mode=IN,jdbcType=VARCHAR},
          #{in.docType,mode=IN,jdbcType=VARCHAR},
          #{in.orderType,mode=IN,jdbcType=VARCHAR},
          #{in.version,mode=IN,jdbcType=VARCHAR},
          #{in.bin,mode=IN,jdbcType=VARCHAR},
          #{out.status,mode=OUT,jdbcType=VARCHAR},
          #{out.msg,mode=OUT,jdbcType=VARCHAR}
          )}
        ]]>
    </select>
    
	<select id="giftSoGoodsDelivery" statementType="CALLABLE">
        <![CDATA[
          {call PRC_GOODS_GIFT_DELIVERY(
          #{in.orno,mode=IN,jdbcType=VARCHAR},
          #{in.user,mode=IN,jdbcType=VARCHAR},
          #{in.docType,mode=IN,jdbcType=VARCHAR},
          #{in.orderType,mode=IN,jdbcType=VARCHAR},
          #{in.version,mode=IN,jdbcType=VARCHAR},
          #{out.status,mode=OUT,jdbcType=VARCHAR},
          #{out.msg,mode=OUT,jdbcType=VARCHAR}
          )}
        ]]>
    </select>
</mapper>