<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">
        
	<!-- 库存盘点单 管理 -->
	<bean id="transferInventoryServiceClient"
		class="com.haier.openplatform.wms.order.impl.TransferInventoryServiceClientImpl">
		<property name="odsTransferInventoryService" ref="odsTransferInventoryService"></property>
	</bean>
	<dubbo:service
		interface="com.haier.openplatform.wms.order.service.TransferInventoryServiceClient"
		owner="Hevwms" ref="transferInventoryServiceClient" version="5.0"
		protocol="dubbo" delay="-1" registry="qingdaoRegistry690" />

</beans>