<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">
	<!-- customer Order 管理 -->
	<bean id="odsStoCustServiceClient"
		class="com.haier.openplatform.wms.sto.impl.OdsStoCustServiceClientImpl">
		<property name="odsStoCustService" ref="odsStoCustService"></property>
		<property name="rfWsService" ref="rfWsService"></property>
	</bean>
	<dubbo:service
		interface="com.haier.openplatform.wms.sto.service.OdsStoCustServiceClient"
		owner="Hevwms" ref="odsStoCustServiceClient" version="5.0" protocol="dubbo"
		delay="-1" registry="qingdaoRegistry690" />

</beans>