<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">

    <bean id="stgStodnDownServiceClient"
          class="com.haier.openplatform.wms.sto.impl.StgStodnDownServiceClientImpl">
        <property name="stgStodnDownService" ref="stgStodnDownService"></property>
    </bean>

    <dubbo:service
            interface="com.haier.openplatform.wms.sto.service.StgStodnDownServiceClient" version="5.0"
            owner="Hevwms" ref="stgStodnDownServiceClient" protocol="dubbo" delay="-1"
            registry="qingdaoRegistry690"/>

</beans>