{{#component "poInfo js-comp"}}
    <div id="podDiv" class="easyui-layout"  style="width:100%;">
        <div class="searchDiv" region="north">
            <table id="searchTab1">
                <tr>
                    <td style="text-align: right"> PO NO:&nbsp;&nbsp;</td> 
                    <td class="leftCls"><input id="poNo" class="radiusCls" type="text" /></td>
                    <td class="rightCls">Material NO:&nbsp;&nbsp;</td>
                    <td class="leftCls"><input id="materialNo" class="radiusCls" type="text" /></td> 
                    <td class="rightCls">Plant:&nbsp;&nbsp;</td> 
                    <td class="leftCls"><input id="plant" type="text" class="easyui-combobox" style="border:0" data-options="border:false,
                         width:155,height:30,editable:true,required:false"/></td> 
                    <td class="rightCls">Location:&nbsp;&nbsp;</td>
                    <td><input id="location" type="text" class="easyui-combobox" data-options="editable:false,multiple:true,multiline:true,valueField:'id',textField:'id'" style="width:155px;height:30px" /></td>
                </tr>
                <tr>
                    <td style="text-align: right">PO Close:&nbsp;&nbsp;</td>
                    <td class="leftCls"><input id="poCloseP" class="easyui-combobox flag" data-options="width:155,height:30,
                    	editable:false,panelHeight:'auto'" /></td>
                    <td class="rightCls">Create Date:&nbsp;&nbsp;</td>
                    <td class="leftCls" colspan="3">
                    	<input id="begin" class="radiusCls"  onClick="WdatePicker({lang:'en',maxDate:'#F{$dp.$D(\'end\')}',dateFmt:'yyyy-MM-dd'})" readonly/>
                        - <input id="end" class="radiusCls"  onClick="WdatePicker({lang:'en',minDate:'#F{$dp.$D(\'begin\')}',dateFmt:'yyyy-MM-dd'})" readonly/></td>
                </tr>
            </table>
            <div id="toolbar">
                <div class="btn-group">
                    <a href="javascript:void(0)" class="btnStyle serchBtn" id="queryBtn">Query</a>
                    <a href="javascript:void(0)" class="btnStyle downloadWhiteBtn" id="downloadBtn">Download From SAP</a>
                    <a href="javascript:void(0)" class="btnStyle exportBtn" id="exportBtn">Export</a>
                    <a href="javascript:void(0)" class="btnStyle resetBtn" onclick="resetData(this)">Reset</a>
                </div>
            </div>
        </div>
        <div region="center" style="border:0px; overflow-y: hidden; margin-top: -2px;">
            <table id="dataGrid" style="width: 140%">

            </table>
        </div>
    </div>
    <script type="text/javascript">
        var totalWidth = $('#dataGrid').width();
        $(function(){
        	$('#podDiv').height(suitHeight);
            $('#poCloseP').combobox({
                data:[{"text":"ALL","value":"-1"},{"text":"Open","value":"0"},{"text":"Close","value":"1"}],
                value:'-1'
            });
            //初始化日期
            var date=new Date();
            var y=date.getFullYear();
            var m=date.getMonth()+1;
            var d=date.getDate();
            date=y+"-"+( m< 10 ? '0' + m : m)+"-"+( d< 10 ? '0' + d : d);
            $('#begin').val(getLastRq(date,-7));
            $('#end').val(date);
            var columns=[[{
                field:'ck',
                checkbox:true,
                align:'center'
            },{
                field:'poNo',
                title:'PO NO', 
                width:fixWidth(0.08), 
                align:'center',
                sortable:true
            },{
                field:'poItemNo',
                title:'PO Item',
                width:fixWidth(0.05), 
                align:'center',
                sortable:true
            },{
                field:'poType', 
                title:'PO Type', 
                width:fixWidth(0.05),
                align:'center',
                sortable:true
            },{
                field:'qty',
                title:'Qty',
                width:fixWidth(0.03),
                align:'center',
                sortable:true
            },{
                field:'finishQty',
                title:'Finish qty',
                width:fixWidth(0.05), 
                align:'center',
                sortable:true
            },{
                field:'plant',
                title:'Plant',
                width:fixWidth(0.06),
                align:'center',
                sortable:true
            },{
                field:'poLocation',
                title:'Location',
                width:fixWidth(0.05), 
                align:'center',
                sortable:true
            },{
                field:'materialNo',
                title:'Material No',
                width:fixWidth(0.07),
                align:'center',
                sortable:true
            },{
                field:'materialDesp',
                title:'Material Description', 
                width:fixWidth(0.2),
                align:'center',
                sortable:true
            },{
                field:'poClose',
                title:'PO Close',
                width:fixWidth(0.05),
                align:'center',
                sortable:true
            },{
                field:'createDate',
                title:'PO CreateDate',
                width:fixWidth(0.07),
                align:'center',
                sortable:true,
                formatter:formatYMD
            },{
                field:'poLastModifyDate',
                title:'PO Last ChangeDate',
                width:fixWidth(0.1),
                align:'center',
                sortable:true
            },{
                field:'createBy',
                title:'PO CreateBy',
                width:fixWidth(0.08),
                align:'center',
                sortable:true
            }]];
            var grid = $('#dataGrid').datagrid({
                rownumbers:true,
                columns:columns,
                pagination:true,
                striped:true,
				fit:true,
                pageNumber : 1,
                method:'post',
                url:'',
                onLoadError:function(){
					$.messager.alert('System Information','Network Abnormal!','warning');
                },
                onLoadSuccess:function(){
                	$(this).datagrid("fixRownumber");
                }
            });
            initPagination(grid);
            gridScroll(grid);
          	//初始化仓库
            $.ajax({
                url:'/plant/list/select',
                type:'post',
                dataType:'json',
                success:function(data){
                    var dataRes = [];
                   // dataRes.push({ "text": " ", "value": " " });
                    if(data!=''||data!=null||data!=undefined){
                       for(var i=0;i<data.length;i++){
                           dataRes.push({ "text": data[i]['name'], "value": data[i]['code'] });
                        }           
                    }
                    $('#plant').combobox({
                        data:dataRes, 
                        panelWidth:180
                    })
                }
            });
            // 加载Location数据
            $(document).ready(function () {
                $("#plant").combobox({
                    onChange: function (record) {
                        $.ajax({
                            url: '/loc/getLocationList',
                            type: 'post',
                            dataType: 'json',
                            data: {
                               rowId: record.rowId,
                               locationType: 0,
                               parentId: record.rowId
                            },
                            success: function (data) {
                                $("#location").combobox({
                                    data:data
                                });
                            }
                        })
                    }
                });
            });
            $('#queryBtn').on('click',function(){
                queryPoReceiveData();
            })
            $('#downloadBtn').on('click',function(){
                downloadData();
            })
            $('#exportBtn').on('click',function(){
                exportPoReceiveData();
            })
        })
        // set width of column
        function fixWidth(percent) {
            return totalWidth * percent;
        }
        function queryPoReceiveData(){
            var locationArr = $('#location').combobox('getValues');   
            var locations = getLocationStr(locationArr);
            var grid= $('#dataGrid').datagrid({
               url:'/po/searchPoInfo',
               queryParams: {
                    poNo:$('#poNo').val(),
                    materialNo: $('#materialNo').val(),
                    poClose: $('#poCloseP').combobox("getValue"),
                    begin: $('#begin').val(),
                    end: $('#end').val(),
                    poLocation: locations,
                    plant:$('#plant').combobox('getValue'),
                    poType:'VGIF'
               },
               onLoadSuccess : function(data) {
                   if (data.total == 0 && data.rows.length == 0) {
                       $.messager.alert('System Information',
                               'No records found.', 'warning');
                   }
                   $(this).datagrid("fixRownumber");
               }
            });
            initPagination(grid);
            gridScroll(grid);
        }
        function downloadData(){
            var poNumber = $('#poNo').val().trim();
            if (poNumber == null || poNumber == "" || poNumber == undefined) {
                $.messager.alert('System Information', 'Please input PO NO!', 'warning');
                return false;
            }
            if(!$('#poNo').val().trim()){
                if (!$('#begin').val().trim()) {
                    $.messager.alert('System Information',
                            'beginDate not null!', 'warning');
                    return false;
                }
                if (!$('#end').val().trim()) {
                    $.messager.alert('System Information',
                            'endDate not null!', 'warning');
                    return false;
                }
                var begin=$('#begin').val().trim().replace(/-/g, "/");
                var end=$('#end').val().trim().replace(/-/g, "/");
                var begin2=new Date(begin);
                var end2=new Date(end);
                if ((end2-begin2)>(7*24*60*60*1000)) {
                    $.messager.alert('System Information',
                            'beginDate and endDate must be within 7 days!', 'warning');
                    return false;
                }
            }
            $.maskLoading();
            $.post(
            	"/po/downloadPo", 
                {
                    'poNo':$('#poNo').val(),
                    'beginTime':$('#begin').val(),
                    'endTime':$('#end').val()
                },
                function(data) {
                    if (data=="S") {
                        $.maskEnd();
                        $.messager.alert('System Information',
                                'Download success', 'warning');
                    } else {
                        var result=data.substring(2,data.length);
                        $.maskEnd();
                        $.messager.alert('System Information',
                            'Failed!'+(result==''?'Download Nothing':result), 'warning');
                    }
                   
                    $('#stgPoDownGrid').datagrid('reload');
                }).error(
                function() {
                   $.maskEnd();
                    $.messager.alert('System Information',
                            'Network Abnormal!', 'warning');
                });
        }
        function exportPoReceiveData(){
            var a= $('#poNo').val();
            var b=$('#materialNo').val();
            var c=$('#begin').val();
            var d=$('#end').val();
            var e=$('#poCloseP').combobox("getValue");

            var locationArr = $('#location').combobox('getValues');   
            var locations = getLocationStr(locationArr);
            $.ajax({
            	url:'/order/searchStgPoDownAmount',
            	type:'post',
            	dataType:'json',
            	data:{
            		a:1,
            		poNo:a,
            		materialNo:b,
            		begin:c,
            		end:d,
            		poClose:e,
            		poLocation:locations,
            		plant:$('#plant').combobox('getValue'),
                    poType:'VGIF'
            	},
            	success:function(data) {
            		if (data == "success") {
            			var url = "/po/exportPoInfo?a=1&poType=VGIF"
                            + '&poNo=' + a
                            + '&materialNo=' + b
                            + '&begin=' + c 
                            + '&end=' + d 
                            + '&poClose=' + e   
                            + '&poLocation='+ locations 
                            + '&plant='+$('#plant').combobox('getValue');
                    window.location.href = url;
            		}else {
            			$.messager.alert('System Information',data,	'warning');
            		}
            	}
            });
        }
    </script>
{{/component}}