<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.haier.hevwms.inventory.dao.OdsInventoryInfoDAO">
	<sql id="pagination_Head" >
		<![CDATA[select * from ( select row_.*, rownum rownum_ from ( ]]>
	</sql>
	<sql id="pagination_Tail">
		<![CDATA[) row_ where rownum <= #{pager.pageSize} * #{pager.currentPage} ) where rownum_ >= #{pager.firstResult} + 1]]>
	</sql>
	<sql id="count_Head">
		<![CDATA[select count(*) from ( ]]>
	</sql>
	<sql id="count_Tail">
		<![CDATA[)]]>
	</sql>

	<sql id="selectAllOdsInventoryInfoColumns">
		<![CDATA[
			SELECT
			    ods_inventory_info_.PLANT,
			    cd_wh_info.NAME WAREHOUSE_NAME,
			    ods_inventory_info_.LOCATION,
			    ods_inventory_info_.MATERIAL_NO,
			    mat.MATERIAL_DESP,
			    mat.CUSTOMER_MODEL,
			    ods_inventory_info_.qty WMS_QTY,
			    ods_inventory_info_.UNIT,
			    mat.division 
			FROM
			    V_INVENTORY_INFO ods_inventory_info_
			    LEFT JOIN md_mat_info mat 
			    ON ods_inventory_info_.material_no = mat.material_no
			    LEFT JOIN cd_wh_info 
			    ON ods_inventory_info_.plant = cd_wh_info.CODE
		]]>
	</sql>

	<resultMap id="odsInventoryInfoMap" type="odsInventoryInfo">
		<id property="rowId" column="row_ID" javaType="long" jdbcType="NUMERIC" />
		<result property="plant" column="PLANT" />
		<result property="warehouseCode" column="WAREHOUSE_CODE" />
		<result property="warehouseName" column="WAREHOUSE_NAME" />
		<result property="customerModel" column="CUSTOMER_MODEL" />
		<result property="location" column="LOCATION" />
		<result property="materialNo" column="MATERIAL_NO" />
		<result property="materialDesp" column="MATERIAL_DESP" />
		<result property="wmsQty" column="WMS_QTY" />
		<result property="unit" column="UNIT" />
		<result property="batchNo" column="BATCH_NO" />
		<result property="createBy" column="CREATE_BY" />
		<result property="createDate" column="CREATE_DATE" />
		<result property="modifyBy" column="MODIFY_BY" />
		<result property="modifyDate" column="MODIFY_DATE" />
		<result property="flag" column="FLAG" />
		<result property="version" column="VERSION" />
		<result property="subLocation" column="SUB_LOCATION" />
	</resultMap>

	<select id="getAll" resultMap="odsInventoryInfoMap">
		<include refid="selectAllOdsInventoryInfoColumns" />
	</select>
	<select id="get" resultMap="odsInventoryInfoMap" parameterType="long">
		<include refid="selectAllOdsInventoryInfoColumns" />
		<![CDATA[
		where ods_inventory_info_.row_id = #{rowId}
		]]>
	</select>
	<delete id="delete" parameterType="long">
		<![CDATA[
		delete from ODS_INVENTORY_INFO where row_id = #{rowId}
		]]>
	</delete>
	<delete id="deleteAll">
		<![CDATA[
		delete from ODS_INVENTORY_INFO where row_id in
		]]>
		<foreach collection="idList" item="item" index="index" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</delete>
	<insert id="save" parameterType="odsInventoryInfo">
		<selectKey keyProperty="rowId" order="BEFORE" resultType="long">
			SELECT SEQ_ODS_INVENTORY_INFO_ID.NEXTVAL AS ID FROM DUAL
		</selectKey>	
		<![CDATA[
		insert into ODS_INVENTORY_INFO
		(
			row_id
			,PLANT				
			,CUSTOMER_MODEL
			,LOCATION
			,MATERIAL_NO
			,MATERIAL_DESP
			,WMS_QTY
			,UNIT
			,BATCH_NO
			,CREATE_BY
			,CREATE_DATE
			,SUB_LOCATION
		)
		values
		(
			#{rowId}
			,#{plant}				
			,#{customerModel}
			,#{location}
			,#{materialNo}
			,#{materialDesp}
			,#{wmsQty}
			,#{unit}
			,#{batchNo}
			,#{createBy}
			,#{createDate}
			,#{subLocation}
		)
	    ]]>
	</insert>
	<update id="update" parameterType="odsInventoryInfo">
		<![CDATA[
		update ODS_INVENTORY_INFO
		   set PLANT = #{plant}
				,CUSTOMER_MODEL = #{customerModel}
				,LOCATION = #{location}
				,MATERIAL_NO = #{materialNo}
				,MATERIAL_DESP = #{materialDesp}
				,WMS_QTY = #{wmsQty}
				,UNIT = #{unit}
				,BATCH_NO = #{batchNo}
				,CREATE_BY = #{createBy}
				,CREATE_DATE = #{createDate}
				,MODIFY_BY = #{modifyBy}
				,MODIFY_DATE = #{modifyDate}
				,FLAG = #{flag}
				,VERSION = #{version}
		 where row_id = #{rowId}
		]]>
	</update>
	<sql id="searchOdsInventoryInfo_fragement">
		<include refid="selectAllOdsInventoryInfoColumns" />
		where 1=1
		<if test="odsInventoryInfo.plant != null and odsInventoryInfo.plant !='' ">
			and ods_inventory_info_.PLANT like '%'||#{odsInventoryInfo.plant}||'%' 
		</if>
		<if test="odsInventoryInfo.location != null and odsInventoryInfo.location !='' ">
			and ods_inventory_info_.LOCATION IN (${odsInventoryInfo.location})
		</if>
		<if test="odsInventoryInfo.materialNo != null and odsInventoryInfo.materialNo !=''">
			and ods_inventory_info_.MATERIAL_NO like '%'||#{odsInventoryInfo.materialNo}||'%' 
		</if>
		<if test="odsInventoryInfo.customerModel != null and odsInventoryInfo.customerModel != ''">
			and ods_inventory_info_.customer_model like '%'||#{odsInventoryInfo.customerModel}||'%' 
		</if>
		<if test="odsInventoryInfo.division != null and odsInventoryInfo.division != ''">
			and mat.division =#{odsInventoryInfo.division}  
		</if>
		<if test="odsInventoryInfo.userType != null and odsInventoryInfo.userType != 1 ">
		    and ods_inventory_info_.plant in 
		    (
		    	select distinct w.code from cd_user_wh_loc u, cd_wh_info w 
				where w.row_id = u.wh_id and u.user_id= #{odsInventoryInfo.userId}
			)
			and ods_inventory_info_.location in 
			(
				select loc_code from cd_user_wh_loc where user_id=#{odsInventoryInfo.userId}
			)
		</if>
	</sql>

	<select id="searchOdsInventoryInfos" resultMap="odsInventoryInfoMap">
		<include refid="pagination_Head" />
		<include refid="searchOdsInventoryInfo_fragement" />
		<include refid="pagination_Tail" />
	</select>
	<select id="searchOdsInventoryInfosCount" resultType="long">
		<include refid="count_Head" />
		<include refid="searchOdsInventoryInfo_fragement" />
		<include refid="count_Tail" />
	</select>

	<update id="updateBySubMat">
		update ods_inventory_info t 
			set t.wms_qty=t.wms_qty+#{amt} 
		where t.location = #{subLoction} and t.material_no = #{matCode}
	</update>
	<update id="updatePdFlag">
		update ods_pd_diff_dtl t 
			set t.process_flag = '1', modify_by = #{createBy} 
		where t.row_id=#{rowId}
	</update>
	<select id="getOdsInventoryInfoByParam" resultMap="odsInventoryInfoMap">
		<include refid="searchOdsInventoryInfo_fragement" />
	</select>
	
	<select id="insertInventory" statementType="CALLABLE">
		<![CDATA[
		  {call prc_inventory_history()}
		]]>
	</select>
	
	<select id="wmsQtyDetail" resultMap="odsInventoryInfoMap">
		select  t.LOCATION ,t.qty wms_qty from V_INVENTORY_INFO t 
		where plant=#{odsInventoryInfo.plant} and material_no=#{odsInventoryInfo.materialNo}
		GROUP BY t.LOCATION 
	</select>
	<select id="wmsQtyDetailCount" resultType="long">
		select count(*) from 
		(
			select  t.LOCATION ,t.qty  from V_INVENTORY_INFO t 
			where plant = #{odsInventoryInfo.plant} and material_no = #{odsInventoryInfo.materialNo}
			GROUP BY t.LOCATION 
		) row_
	</select>
</mapper>