<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>1169权限管理与分配中心</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/assets/scripts/vendor.js"></script>

    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }

        .sidebar-nav {
            padding: 5px 0;
        }

        /*按钮变斜  开始*/
        .title-block {
            width: 120px;
            /*height: 20px;*/
            -webkit-transform: skew(-20deg);
            -moz-transform: skew(-20deg);
            -o-transform: skew(-20deg);
            background: #51abdf;
            margin-left: 30px;
            content: "";
            display: block;
        }

        .textbw {
            text-align: center;
            color: #FFFFFF;
            line-height: 30px;
        }

        .title {
            text-align: center;
            list-style-type: none;
        }
        #menu ul, #menu ul * {
            margin : 0px;
            padding : 0px;
            list-style-type : none;
        }

        #menu ul li {
            float : right;
            position : relative;
        }
        #menu ul a {
            display : block;
            position : relative;
        }
        #menu ul li:first-child a{
            padding : 8px 19px 0;
        }
        #menu ul li a{
            position : relative;
            z-index : 999;
            padding : 8px 18px 0;
            color : #868686;
            text-decoration : none;
            white-space : nowrap;
            height : 20px;
        }
    </style>
    <link rel="shortcut icon" href="http://10.135.13.113:8081/hac/assets/default/images/haier.ico">
    <link rel="stylesheet" href="/assets/styles/app.css">
    <link rel="stylesheet" href="/assets/styles/vendor.css">
</head>
<body style="padding-bottom: 0px;">
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="row-fluid" style="background-color: PINK">
            <div class="span10" style="padding-left: 10px">
                <a class="brand" href="#"><img src="/assets/images/logo.jpg"/>&nbsp;&nbsp;1169权限管理与分配中心</a>
            </div>
            <div class="span2" style="padding: 20px">
                <a href="#" class="navbar-link">Welcome，{{_USER_.nickName}}</a>
            </div>
        </div>
    </div>
</div>
<div style="padding-top: 6px"></div>
<div id="menu" style="background-color: blue;height: 20px;font-size: 15px">
    <ul>
        <li><div class="icon-title" style="position: absolute;right: 0px;color: white;font-weight: bold"><a style="color: black;" href="/hac/security/searchUser.action">数据维度类型</a></div></li>
        <li><div class="icon-title" style="position: absolute;right: 124px;color: white;font-weight: bold"><a style="float: right;right: 20px;color: black;" href="/hac/basic/searchDepartment.action">应用管理</a></div></li>
    </ul>
</div>
<div style="padding-left: 0px;padding-right: 0px;background-color: #F6FBFF;">

    <div class="row-fluid">
        <div class="span12">
            <div class="sidebar-nav">
                {{{block "rightBody"}}}
            </div>
        </div>
    </div>
</div>
<footer class="" style="background-color: #59B4E9;color: #ffffff">
    <div class="row-fluid">
        <div class="span4" style="padding-left: 20px;height: 72px;padding-top: 30px;">Copyright ©2012 海尔集团 版权所有</div>
        <div class="span4 offset4" style="padding-right: 20px;padding-top: 30px;">Powered by <a href="#">海尔集团流程系统创新部</a></div>
    </div>
</footer>
<script src="/assets/scripts/app.js"></script>

<script>require("app")()</script>
</body>
</html>
