<!DOCTYPE html>
<html>
<head>
    <title>WMS后台管理系统</title>
    <!-- 页面基本设置禁止随意更改 -->
    <meta charset="utf-8">
    <meta name="author" content="forework">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="viewport" content="target-densitydpi=device-dpi, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <!-- 页面基本设置禁止随意更改 -->
    <!-- 基础CSS类库可随意更改 -->
    <link rel="stylesheet" type="text/css" href="/assets/styles/basic.css">
    <link rel="stylesheet" type="text/css" href="/assets/styles/less.css">
    <link rel="stylesheet" type="text/css" href="/assets/styles/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/styles/marketneed.css">
	  <link rel="stylesheet" type="text/css" href="/assets/styles/sales.css">
	  <link rel="stylesheet" type="text/css" href="/assets/styles/productstyle.css">
	  <link rel="stylesheet" type="text/css" href="/assets/styles/{{locale}}.css">
    <!--[if IE 8]>
    <link rel="stylesheet" type="text/css" href="/assets/styles/ie8.css">
    <![endif]-->
    <!--[if gte IE 9]> 
    <link rel="stylesheet" type="text/css" href="/assets/styles/ie.css"> 
    <![endif]-->
    <!-- 基础CSS类库可随意更改 -->
    <link rel="stylesheet" type="text/css" href="/assets/styles/easyui/themes/bootstrap/easyui.css">
    <link rel="stylesheet" type="text/css" href="/assets/styles/easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="/assets/styles/customgrid.css">
    <!-- 基础js类库可随意更改 -->
    <script src="/assets/scripts/jquery-1.10.2.min.js"></script>
    <script src="/assets/scripts/style.js"></script>
 
    
	<script src="/assets/scripts/easyuiDatagridTips.js"></script>
    <script type="text/javascript" src="/assets/scripts/easyui/jquery.easyui.ext.js"></script>
    <script type="text/javascript" src="/assets/scripts/My97DatePicker/WdatePicker.js"></script>
    
    <link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/demo/demo.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.min.js"></script>
    <script type="text/javascript" src="http://www.jeasyui.com/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="http://www.jeasyui.com/easyui/jquery.edatagrid.js"></script>

    <script src="/assets/scripts/app.js"></script>
    <script src="/assets/scripts/I18n.js"></script>
    <script src="/i18n"></script>
    <!-- 基础js类库可随意更改 -->
</head>
<body>
<div class="wrapper" style=" display:block;">
    
    <div class="body_content">
        <div class="content">
            
            <!--中间内容项目执行-->
            <div class="body_content_center w970" style="display:block;">
                <!-- 提示区域 -->
               
                {{{block "mainBlock"}}}
            </div>
         </div>
     </div>
</div>

</body>
</html>