{{#component "ogipInfo js-comp"}}
<style type="text/css">
	#searchTabin{
    display: inline-block;
    margin-left: 8px;
    margin-top: 4px;
    width: 98%;
}
#searchTabin tr{
    height: 35px;
}
#searchTabin input{
    height: 30px;
    width: 155px;
}
.inputCls{
	border: 1px solid #CCC;
    border-radius: 3px;
}
</style>
    <div id="oigInfoDiv" class="easyui-layout"  style="width:100%;">
        <div class="searchDivher" region="north">
            <table id="searchTabin">
                <tr>
                    <td style="text-align: right">OGP/IGP NO:&nbsp;&nbsp;</td> <td class="leftCls"><input class="inputCls" id="orderNo" type="text" /></td>
                    <td class="rightCls">Material NO:&nbsp;&nbsp;</td><td class="leftCls"><input class="inputCls" id="materialNo" type="text" /></td>
                    <td class="rightCls">SAP Order No:&nbsp;&nbsp;</td><td class="leftCls"><input class="inputCls" id="sapOrderNo" type="text" /></td>
                    <td style="text-align: right">SAP Flag: &nbsp;&nbsp;</td><td class="leftCls"><input id="sapFlag" class="easyui-combobox flag" 
                    	data-options="width:155,height:30,editable:false,panelHeight:'auto'" /></td>
                </tr>
                <tr>
                    <td class="rightCls">Warehouse:&nbsp;&nbsp;</td><td class="leftCls"><input id="plant" type="text" class="easyui-combobox" style="border:0" 
                    	data-options="border:false,width:155,height:30,editable:true,required:false,panelWidth:180"/></td>
                    <td class="rightCls">Location:&nbsp;&nbsp;</td><td class="leftCls"><input class="inputCls" id="locationP" type="text" /></td>
                    <td class="rightCls">Document Type:&nbsp;&nbsp;</td><td class="leftCls"><input id="docType" class="easyui-combobox flag" 
                    	data-options="width:155,height:30,editable:false,panelHeight:'auto'" /></td>
                   	<td class="rightCls">Division:&nbsp;&nbsp;</td>
                    <td class="leftCls"><input id="division" type="text" class="easyui-combobox" style="border:0"
                        data-options="border:false,width:155,height:30,editable:false,required:false,valueField:'name',textField:'name',url:'/basicdata/mddictionary/listbox'" />
                </tr>
                <tr>
                    <td class="rightCls">Create Date:&nbsp;&nbsp;</td>
                    <td class="leftCls" colspan="3"><input id="begin" class="inputCls" style="width:155px" onClick="WdatePicker({lang:'en',maxDate:'#F{$dp.$D(\'end\')}',dateFmt:'yyyy-MM-dd'})" readonly/> &nbsp;&nbsp;
                        -  &nbsp;&nbsp;<input id="end" class="inputCls" style="width:155px" onClick="WdatePicker({lang:'en',minDate:'#F{$dp.$D(\'begin\')}',dateFmt:'yyyy-MM-dd'})" readonly/></td>

                </tr>
            </table>
            <div id="toolbar">
                <div class="btn-group">
                    <a href="javascript:void(0)" class="btnStyle serchBtn" onclick="searchOdsOrderInfo()">Query</a>
                    <a href="javascript:void(0)" class="btnStyle paymentReconciliationBtn" onclick="post()">Posting</a>
                    <a href="javascript:void(0)" class="btnStyle exportBtn"onclick="exportOdsOrderInfo();">Export</a>
                    <a href="javascript:void(0)" class="btnStyle printBtn" id="exportBtn" onclick="print();">Print</a>
                    <a href="javascript:void(0)" class="btnStyle printBtn" id="printBtn" onclick="printOgp();">OGP Print</a>
                    <a id="inOutWarehouse" style="display: none" href="javascript:void(0)" class="btnStyle resetBtn" onclick="inOutWarehouse()">InoutWarehouse</a>
                    <a href="javascript:void(0)" class="btnStyle resetBtn" onclick="resetData(this)">Reset</a>
                </div>
            </div>
        </div>
        <div region="center" style="border:0px; overflow-y: hidden; margin-top: -2px;">
            <table id="odsOrderInfoGrid" style="width:120%;">

            </table>
        </div>
    </div>
    <script type="text/javascript">
        var totalWidth = $('#odsOrderInfoGrid').width();
    	$(function(){
        	$('#oigInfoDiv').height(suitHeight);
            $('#sapFlag').combobox({
                data:[{"text":"ALL","value":"-1"},{"text":"Generation","value":"0"},{"text":"Posted Success","value":"1"},{"text":"Posted Failed","value":"2"},{"text":"SAP success,WMS Failed","value":"3"}],
                value:'-1'
            });

            $('#docType').combobox({
                data:[{"text":"All","value":"-1"},{"text":"PO","value":"PO"},{"text":"Inbound","value":"INBOUND"},{"text":"STO","value":"STO"},
                      {"text":"Billing","value":"DN"},{"text":"Transfer","value":"TRANSFER"},{"text":"Gift","value":"GIFT"},{"text":"Scrap","value":"SCRAP"}],
                value:'-1'
            });
            
            var date=new Date();
            var m=date.getMonth()+1;
            var d=date.getDate();
            var begin=date.getFullYear()+"-"+( m< 10 ? '0' + m : m)+"-"+( d< 10 ? '0' + d : d);
            $('#begin').val(getLastRq(begin,-1));
            date=date.getFullYear()+"-"+( m< 10 ? '0' + m : m)+"-"+( d< 10 ? '0' + d : d);
            $('#end').val(date);

            var columns=[[ {
                field : 'ck',
                checkbox : true,
                width: fixWidth(0.01),
                align : 'center'
            }, {
                field : 'orderNo',
                title : 'OGP/IGP No',
                align : 'center',
                width: fixWidth(0.072),
                sortable : true
            }, {
                field : 'orderItem',
                title : 'Order Item',
                align : 'center',
                hidden : true,
                sortable : true
            }, {
                field : 'orderType',
                title : 'Order Type',
                align : 'center',
                width: fixWidth(0.074),
                sortable : true,
                formatter : function(val) {
                    if (val == '1') {
                        return 'IN';
                    } else if (val == '2') {
                        return 'OUT';
                    }
                    return val;
                }
            }, {
                field : 'docTpye',
                title : 'Doc Type',
                align : 'center',
                width: fixWidth(0.074),
                sortable : true,
		        formatter : function(val) {
		                if (val=='DN') {
		                    return 'Billing';
		                }else{
		                    return val;
		                }
		        }
            }, {
                field : 'scannedQty',
                title : 'Scanned Qty',
                align : 'center',
                width: fixWidth(0.074),
                sortable : true
            }, {
                field : 'scannedQty',
                title : 'Plan Qty',
                align : 'center',
                width: fixWidth(0.064),
                sortable : true
            }, {
                field : 'unit',
                title : 'Unit',
                align : 'center',
                width: fixWidth(0.05),
                sortable : true
            }, {
                field : 'division',
                title : 'Division',
                align : 'center',
                width: fixWidth(0.064),
                sortable : true
            }, {
                field : 'materialNo',
                title : 'Material No',
                align : 'center',
                width: fixWidth(0.075),
                sortable : true
            }, {
                field : 'customerModel',
                title : 'Customer Model',
                width: fixWidth(0.18),
                align : 'center',
                sortable : true
            }, {
                field : 'materialDesp',
                title : 'Material Description',
                align : 'center',
                sortable : true,
                hidden: true
            }, {
                field : 'sapOrderNo',
                title : 'SAP Order No',
                align : 'center',
                sortable : true
            }, {
                field : 'sapOrderItem',
                title : 'SAP Order Item',
                width: fixWidth(0.078),
                align : 'center',
                sortable : true
            }, {
                field : 'batchNo',
                title : 'batch No',
                align : 'center',
                hidden : true,
                sortable : true
            }, {
                field : 'plant',
                title : 'Warehouse',
                align : 'center',
                width: fixWidth(0.06),
                sortable : true
            }, {
                field : 'location',
                title : 'Location',
                align : 'center',
                width: fixWidth(0.06),
                sortable : true
            }, {
                field : 'sapFlag',
                title : 'Sap Flag',
                align : 'center',
                width: fixWidth(0.08),
                sortable : true,
                formatter : function(val) {
                    if (val == '0') {
                        return 'generation';
                    } else if (val == '1') {
                        return 'posted success';
                    } else if (val == '2') {
                        return 'posted failed';
                    } else if (val == '3') {
                        return 'SAP success,WMS failed';
                    } else {
                        return 'locked';
                    }
                    return val;
                }
            }, {
            	field : 'postBy',
                title : 'Post By',
                align : 'center',
                sortable : true,
                width: fixWidth(0.07),
                formatter: function(value,row,index){
            		if (row.modifyBy == null || row.modifyBy == ""){
            			return row.createBy;
            		}else{
            			return row.modifyBy;
            		}
                }
            }, {
                field : 'postingDate',
                title : 'Post Date',
                align : 'center',
                sortable : true,
                width: fixWidth(0.07),
                formatter : formatY_M_D
            }, {
                field : 'sapDocNo',
                title : 'Sap Doc No',
                align : 'center',
                sortable : true
            }, {
                field : 'sapMsg',
                title : 'Sap Error Msg',
                align : 'center',
                width: fixWidth(0.08),
                sortable : true
            }, {
                field : 'carNo',
                title : 'Car No',
                align : 'center',
                width: fixWidth(0.08),
                sortable : true
            }, {
                field : 'vendorCode',
                title : 'Gift Vendor Code',
                align : 'center',
                width: fixWidth(0.08),
                sortable : true,
                hidden: true
            }, {
                field : 'vendorName',
                title : 'Gift Vendor Name',
                align : 'center',
                width: fixWidth(0.08),
                sortable : true,
                hidden: true
            }, {
                field : 'deliveryCode',
                title : 'Gift ShipTo Code',
                align : 'center',
                width: fixWidth(0.08),
                sortable : true,
                hidden: true
            }, {
                field : 'deliveryName',
                title : 'Gift ShipTo Name',
                align : 'center',
                width: fixWidth(0.08),
                sortable : true,
                hidden: true
            }, {
                field : 'invoiceNo',
                title : 'Invoice No',
                align : 'center',
                sortable : true,
                width: fixWidth(0.08)
            },{
                field : 'lrNo',
                title : 'LR No',
                align : 'center',
                sortable : true,
                width: fixWidth(0.08)
            },{
                field : 'lrDate',
                title : 'LR Date',
                align : 'center',
                sortable : true,
                width: fixWidth(0.07)
            },
            {
                field : 'transporterCode',
                title : 'Transporter Name',
                align : 'center',
                sortable : true,
                width: fixWidth(0.10),
                formatter: function(value,row,index){
                	return row.transporterName;
                }
            },{
                field : 'createDate',
                title : 'Create Dt',
                align : 'center',
                sortable : true,
                width: fixWidth(0.08),
                formatter : formatY_M_D
            }, {
                field : 'handFlag',
                title : 'Hand Flag',
                align : 'center',
                width: fixWidth(0.08),
                sortable : true,
                formatter : function(val) {
                    if (val == '0') {
                        return 'system create';
                    } else {
                        return 'hand work';
                    }
                },
                hidden: true
            } ]];
            var grid = $('#odsOrderInfoGrid').datagrid({
                rownumbers:true,
                columns:columns,
                pagination:true,
                striped:true,
                pageNumber : 1,
                fit:true,
                method:'post',
                url : '',
//                 url : '/order/searchOIGPOrder',
//                 queryParams : {
//                     'flag' : '0',
//                     'handFlag' : '0',
//                     'orderNo' : $('#orderNo').val(),
//                     'sapFlag' : $('#sapFlag').combobox("getValue"),
//                     'docTpye' : $('#docType').combobox("getValue"),
//                     'materialNo' : $('#materialNo').val(),
//                     'sapOrderNo' : $('#sapOrderNo').val(),
//                     'location' : $('#locationP').val(),
//                     'begin' : $('#begin').val(),
//                     'end' : $('#end').val()
//                 },
                onLoadError:function(){
                         $.messager.alert('System Information','Network Abnormal!','warning');
                    },
                onLoadSuccess:function(){
                	$(this).datagrid("fixRownumber");
                }
            });
            initPagination(grid);
            gridScroll(grid);
            if($.session.get("userName").toString().indexOf("admin")>=0){
                $("#inOutWarehouse").css("display","");
            }
            $.ajax({
                url:'/warehouse/searchAvailableWh',
                type:'post',
                dataType:'json',
                success:function(data){
                    var dataRes = [];
                   // dataRes.push({ "text": " ", "value": " " });
                    if(data!=''||data!=null||data!=undefined){
                       for(var i=0;i<data.length;i++){
                           dataRes.push({ "text": data[i]['name'], "value": data[i]['code'] });
                        }           
                    }
                    $('#plant').combobox({
                        data:dataRes
                    })
                }
            });
        })
        // set width of column 
    	function fixWidth(percent) { 
        	return totalWidth * percent;   
    	}
        /** 查询*/
        function searchOdsOrderInfo() {
            var a=$('#division').combobox('getValue');
            var grid= $('#odsOrderInfoGrid').datagrid({
                url : '/order/searchOIGPOrder',
                queryParams : {
                    'flag' : '0',
                    'handFlag' : '0',
                    'orderNo' : $('#orderNo').val(),
                    'sapFlag' : $('#sapFlag').combobox("getValue"),
                    'docTpye' : $('#docType').combobox("getValue"),
                    'materialNo' : $('#materialNo').val(),
                    'sapOrderNo' : $('#sapOrderNo').val(),
                    'plant' : $('#plant').combobox("getValue"),
                    'location' : $('#locationP').val(),
                    'begin' : $('#begin').val(),
                    'end' : $('#end').val(),
                    'division' : a
                },
                onLoadSuccess : function(data) {
                    if (data.total == 0 && data.rows.length == 0) {
                        $.messager.alert('System Information',
                                'No records found.',
                                'warning');
                        gridScroll(grid);
                    }
                	$(this).datagrid("fixRownumber");
                }
            });
            initPagination(grid);
        }
        function exportOdsOrderInfo() {
            var a=$('#division').combobox('getValue');
           /* var url = '/plan/exportOdsOrderInfo?a=1'
                    + '&flag=' + '0' + '&handFlag=' + '0'
                    + '&orderNo=' + $('#orderNo').val()
                    + '&sapFlag=' + $('#sapFlag').combobox("getValue")
                    + '&docType=' + $('#docType').combobox("getValue")
                    + '&materialNo=' + $('#materialNo').val()
                    + '&sapOrderNo=' + $('#sapOrderNo').val()
                    + '&plant=' + $('#plant').combobox("getValue")
                    + '&location=' + $('#locationP').val()
                    + '&begin=' + $('#begin').val()
                    + '&end=' + $('#end').val()
                    + '&division=' + a;
            window.location.href = url;*/
            
            $.ajax({
                url:'/order/searchOrderInfoAmount',
                type:'post',
                dataType:'json',
                data:{
                		a:1,
                		flag:0,
                		handFlag:0,
	            		orderNo:$('#orderNo').val(),
	            		sapFlag:$('#sapFlag').combobox("getValue"),
	            		docType:$('#docType').combobox("getValue"),
	            		materialNo:$('#materialNo').val(),
	            		sapOrderNo:$('#sapOrderNo').val(),
	            		plant:$('#plant').combobox("getValue"),
	            		location:$('#locationP').val(),
	            		begin:$('#begin').val(),
	            		end:$('#end').val(),
	            		division:a
	            	},
                success:function(data){
                	if(data == "success") {
                		var url = '/order/exportOdsOrderInfo?a=1'
		                    + '&flag=' + '0' + '&handFlag=' + '0'
		                    + '&orderNo=' + $('#orderNo').val()
		                    + '&sapFlag=' + $('#sapFlag').combobox("getValue")
		                    + '&docType=' + $('#docType').combobox("getValue")
		                    + '&materialNo=' + $('#materialNo').val()
		                    + '&sapOrderNo=' + $('#sapOrderNo').val()
		                    + '&plant=' + $('#plant').combobox("getValue")
		                    + '&location=' + $('#locationP').val()
		                    + '&begin=' + $('#begin').val()
		                    + '&end=' + $('#end').val()
		                    + '&division=' + a;
		            	window.location.href = url;
                	}else {
                		$.messager.alert('System Information',data,	'warning');
                	}
                }
            });
        }
        function inOutWarehouse(){
            var rows = $('#odsOrderInfoGrid').datagrid('getSelections');
            if (rows.length != 1) {
                $.messager.alert('System Information',
                        'Please select one data!', 'warning');
                return;
            }
            $.messager
                    .confirm(
                    'System Information',
                    'Before In/Out Warehouse,You Should Be Sure The Order is  Posting Success But Out Of Storage Failed !',
            function(r) {
                        if (r) {
                            $.maskLoading();
                            $
                                    .post(
                                    "/order/in/outwarehousee",
                                    {
                                        'orderNo' : rows[0].orderNo,
                                        'orderType':rows[0].orderType
                                    },
                                    function(data) {
                                        var result=data.substring (0,1);
                                        if (result[0] == 'S') {
                                            $.messager
                                                    .alert(
                                                    'System Information',
                                                    'In/Out Success!',
                                                    'warning');
                                            $('#odsOrderInfoGrid')
                                                .datagrid('reload');
                                        } else {
                                            result=data.substring (2,data.length);
                                            $.messager
                                                    .alert(
                                                    'System Information',
                                                    'Failed!'+(result==undefined?"":result),
                                                    'warning');
                                        }
                                        $.maskEnd();
                                    })
                                    .error(
                                    function() {
                                        $.messager
                                                .alert(
                                                'System Information',
                                                'Network Abnormal!',
                                                'warning');
                                                $.maskEnd();
                                    });
                        }
                    });
        }
        function post() {
            var rows = $('#odsOrderInfoGrid').datagrid('getSelections');
            if (rows.length != 1) {
                $.messager.alert('System Information',
                        'Please select one data!', 'warning');
                return;
            }
            if (rows[0].sapFlag == '1') {
                $.messager.alert('System Information',
                        'You must select which is failure to post to SAP!', 'warning');
                return;
            }
            if(rows[0].docTpye=='GIFT'||rows[0].docTpye=='SCRAP'){
                $.messager.alert('System Information',
                        'This Order need not to post!', 'warning');
                return;
            }
            $.messager
                    .confirm(
                    'System Information',
                    'Please confirm the order has been failed posting on PDA before Reposting to SAP.',
                    function(r) {
                        if (r) {
                            $.maskLoading();
                            $
                                    .post(
                                    "/order/postOrder",
                                    {
                                        'orderNo' : rows[0].orderNo
                                    },
                                    function(data) {
                                        var result=data.substring (0,1);
                                        if (result[0] == 'S') {
                                            $.messager
                                                    .alert(
                                                    'System Information',
                                                    'Posting Success!',
                                                    'warning');
                                            $('#odsOrderInfoGrid')
                                                .datagrid('reload');
                                        } else {
                                            result=data.substring (2,data.length);
                                            $.messager
                                                    .alert(
                                                    'System Information',
                                                    'Failed!'+(result==undefined?"":result),
                                                    'warning');
                                            $('#odsOrderInfoGrid')
                                                .datagrid('reload');
                                        }
                                        $.maskEnd();
                                    })
                                    .error(
                                    function() {
                                        $.messager
                                                .alert(
                                                'System Information',
                                                'Network Abnormal!',
                                                'warning');
                                                $.maskEnd();
                                    });
                        }
                    });

        }

        function print() {

            var selectedRows = $("#odsOrderInfoGrid").datagrid('getChecked');
            if (selectedRows.length < 1) {
                $.messager.alert('System Information',
                        'Please select at least one data!', 'warning');
                return false;
            }
            var codes = new Array();
            for ( var i = 0; i < selectedRows.length; i++) {
                codes.push(selectedRows[i].orderNo);
            }
            var url='/order/printOgpIgpInfo?orderNos='+codes.join();
            window.open(url);
//        window.parent.closeTab('IGP/OGP Order Info Print');
//        window.parent
//                .addTab({
//                    url : thisHPage
//                            + '/Report-ResultAction.do?newReport=true&reportId=4c94dd99-288f-467f-8f23-917335bc433a&orderNo='
//                            + strMap.toSqlStr(),
//                    title : 'IGP/OGP Order Info Print',
//                    iconCls : 'icon-print'
//                });
        }
        function printOgp() {
            var rows = $('#odsOrderInfoGrid').datagrid('getSelections');
            if (rows.length != 1) {
                $.messager.alert('System Information',
                        'Please select one data!', 'warning');
                return;
            }
            if (rows[0].orderType != '2') {
                $.messager.alert('System Information',
                        'Please select outwarehouse order!', 'warning');
                return;
            }
            if (rows[0].docTpye != 'DN'&&rows[0].docTpye != 'STO') {
                $.messager.alert('System Information',
                        'Please select DN or STO order to print!', 'warning');
                return;
            }

            var url='/order/printOgp?orderNos='+rows[0].orderNo+'&plantCode='+rows[0].plant;
            window.open(url);
        }
    </script>
{{/component}}