{{#component "stoApprove js-comp"}}
	
    <div id="StoCustDiv" class="easyui-layout"  style="width:101%;">
        <div class="searchDiv" region="north" style="border:0">
            <table id="searchTab1">
                 <tr>
                    <td style="text-align: right">Order NO:</td>
                    <td class="leftCls"><input id="stoNoP" class="radiusCls" type="text" /></td>
                    <td class="rightCls">Material No:</td>
                    <td class="leftCls"><input id="materialNoP" class="radiusCls" type="text" /></td>
                    <td class="rightCls">GI Plant:</td>
                    <td class="leftCls"><input id="giPlantP" type="text" class="easyui-combobox" style="border:0" data-options="border:false,
                         width:130, height:30, editable:true,required:false,panelWidth:180"/></td>
                    <td class="rightCls" style="width:120px">GI Location:</td>
                	<td class="leftCls"><input id="giLocationP" class="radiusCls" type="text" /></td>
                </tr>
                <tr>
                    <td class="rightCls">GR Plant:</td>
                    <td class="leftCls"><input id="grPlantP" type="text" class="easyui-combobox" style="border:0" data-options="border:false,
                         width:130, height:30, editable:true,required:false,panelWidth:180"/></td>
                	<td class="rightCls" style="width:120px">GR Location:</td>
                    <td class="leftCls"><input id="grLocationP" class="radiusCls" type="text" /></td>  
                    <td style="text-align: right">Create Date:&nbsp;&nbsp;</td>
                   	<td class="leftCls" colspan="3"><input id="begin" class="radiusCls" style="width:120px" onClick="WdatePicker({lang:'en',maxDate:'#F{$dp.$D(\'end\')}',dateFmt:'yyyy-MM-dd'})" readonly/> &nbsp;&nbsp;
                        -  &nbsp;&nbsp;<input id="end" class="radiusCls" style="width:120px" onClick="WdatePicker({lang:'en',minDate:'#F{$dp.$D(\'begin\')}',dateFmt:'yyyy-MM-dd'})" readonly/></td>
                    <td></td>
                </tr>
            </table>
            <div id="toolbar">
                <div class="btn-group">
                    <a href="javascript:void(0)" class="btnStyle serchBtn" id="queryBtn">Query</a>
                    <a href="javascript:void(0)" class="btnStyle saveBtn" onclick="confirmOrder()">Confirm</a>
					<a href="javascript:void(0)" class="btnStyle resetBtn" onclick="resetData(this)">Reset</a>
                </div>
            </div>
        </div>
        <div region="center" style="border-top:0px;  overflow-y: hidden;">
            <table id="dataGrid" style="width:100%;"></table>
        </div>
    </div>

    <script type="text/javascript">
    var totalWidth = $('#dataGrid').width();
    
	function fixWidth(percent) { 
    	return totalWidth * percent;   
	}
    $(function(){
        $("#postStoCust").css("display","");
    	$('#StoCustDiv').height(suitHeight);
    	
    	//初始化日期
        var date=new Date();
        var y=date.getFullYear();
        var m=date.getMonth()+1;
        var d=date.getDate();
        date=y+"-"+( m< 10 ? '0' + m : m)+"-"+( d< 10 ? '0' + d : d);
        $('#begin').val(getLastRq(date,-7));
        $('#end').val(date);
        var columns=[[{
            field : 'ck',
            checkbox : true,
            width: fixWidth(0.01),
            align : 'center'
        }, {
            field : 'stoNo',
            title : 'Order No',
            align : 'center',
            width: fixWidth(0.11),
            sortable : true
        }, {
            field : 'checkFlag',
            title : 'Check Flag',
            align : 'center',
            sortable : true,
            width: fixWidth(0.1),
            formatter : function(val) {
                if (val == '0') {
                    return "<font color='red'>Not Confirmed</font>";
                } else if (val == '1') {
                    return "<font color='green'>Confirmed</font>";
                }
                return val;
            }
        },{
            field : 'stoItemNo',
            title : 'Item No',
            align : 'center',
            width: fixWidth(0.05),
            sortable : true
        }, {
            field : 'materialNo',
            title : 'Material No',
            align : 'center',
            width: fixWidth(0.1),
            sortable : true
        },{
            field : 'materialDesp',
            title : 'Material Desp',
            align : 'center',
            width: fixWidth(0.2),
            sortable : true
        }, {
            field : 'unit',
            title : 'Unit',
            align : 'center',
            width: fixWidth(0.04),
            sortable : true
        }, {
            field : 'giPlant',
            title : 'Gi Plant',
            align : 'center',
            width: fixWidth(0.06),
            sortable : true
        }, {
            field : 'grPlant',
            title : 'Gr Plant',
            align : 'center',
            width: fixWidth(0.06),
            sortable : true
        }, {
            field : 'giLocation',
            title : 'Gi Location',
            align : 'center',
            width: fixWidth(0.08),
            sortable : true
        }, {
            field : 'grLocation',
            title : 'Gr Location',
            align : 'center',
            width: fixWidth(0.08),
            sortable : true
        }, {
            field : 'qty',
            title : 'Qty',
            align : 'center',
            width: fixWidth(0.05),
            sortable : true
        },{
            field : 'giFinishQty',
            title : 'Gi Finish Qty',
            align : 'center',
            width: fixWidth(0.1),
            sortable : true
        },{
            field : 'grFinishQty',
            title : 'Gr Finish Qty',
            align : 'center',
            width: fixWidth(0.1),
            sortable : true
        }]];
        var grid2 = $('#dataGrid').datagrid({
            rownumbers:true,
            columns:columns,
            pagination:true,
            striped:true,
            pageNumber : 1,
            fit:true,
            remoteSort:false,  
            url:'/odsStoCustInfo/list',
            method:'post',
            queryParams: {
                begin:$('#begin').val(),
                end:$('#end').val(),
                flag:'0',
                finishFlag:'-1',
                checkFlag:0
            },
            onLoadError:function(){
               $.messager.alert('System Information','Network Abnormal!','warning');
            },
            onLoadSuccess:function(){
               $(this).datagrid("fixRownumber");
            }
        });
        initPagination(grid2);
        $.ajax({
        	url:'/plant/list/select',
            type:'post',
            dataType:'json',
            success:function(data){
                var dataRes = [];
                if(data!=''||data!=null||data!=undefined){
                   for(var i=0;i<data.length;i++){
                       dataRes.push({ "text": data[i]['name'], "value": data[i]['code'], "rowId": data[i]['rowId'] });
                    }           
                }
                $('#giPlantP').combobox({
                    data:dataRes
                })
                $('#grPlantP').combobox({
                    data:dataRes
                })
            }
        });
        $('#queryBtn').on('click',function(){
            queryData();
        })
    });
    
    function queryData(){
       var grid= $('#dataGrid').datagrid({
            url:'/odsStoCustInfo/list',
            queryParams: {
                begin:$('#begin').val(),
                end:$('#end').val(),
                stoNo:$('#stoNoP').val(),
                materialNo:$('#materialNoP').val(),
                giPlant:$('#giPlantP').combobox('getValue'),
                grPlant:$('#grPlantP').combobox('getValue'),
                giLocation:$('#giLocationP').val(),
                grLocation:$('#grLocationP').val(),
                flag:'0',
                checkFlag:0
            },
            onLoadSuccess : function(data) {
                $("#dataGrid").datagrid('clearChecked');
                if (data.total == 0 && data.rows.length == 0) {
                    $.messager.alert('System Information','No records found.','warning');
                }
                $(this).datagrid("fixRownumber");
            }
        });
        initPagination(grid);
        gridScroll(grid); 
    }

    function confirmOrder() {
        var row = $('#dataGrid').datagrid('getChecked');
        if (row.length != 1) {
            $.messager.alert('System Information', 'Please select one data!', 'warning');
            return;
        }
        if (row[0].checkFlag == '1') {
            $.messager.alert('System Information', 'The data has been confirmed! ', 'warning');
            return;
        }
        $.messager.confirm("System Information", "Are You Sure Confirm Data?", function (data) {
            if (data) {
                var codes = new Array();
                $.post(
                    "/odsStoCustInfo/stoApprove",
                    {'stoNo' : row[0].stoNo},
                    function(data) {
                        if (data == 'success') {
                            $.messager.alert('System Information','Approve Success!','warning');
                            queryData();
                        } else {
                            $.messager.alert('System Information','Approve Failure!,' + data, 'warning');
                        }
                    }
                ).error(
                    function() {
                        $.messager.alert('System Information', 'Network Abnormal!', 'warning');
                        queryData();
                    }
                );
            }
        });
    }
    
    </script>
{{/component}}