{{#component "resourceQuery js-comp"}}
    <style type="text/css">
        #searchTab2 {
            display: inline-block;
            margin-left: 8px;
            margin-top: 4px;
            width: 98%;
        }

        #searchTab2 tr {
            height: 35px;
        }

        #searchTab2 input {
            height: 30px;
            width: 155px;
        }

        #searchTab1 {
            font-size: 12px;
            color: #636E7B;
            margin-left: 18px;
        }
    </style>
    <div id="resQueryDiv" class="easyui-layout" style="width:101%;">
        <div class="searchDivlow" region="north">
            <table id="searchTab2">
                <tr>
                    <td style="text-align: right;"> Resource Name&nbsp;&nbsp;</td>
                    <td class="leftCls"><input id="resourceName" class="radiusCls" type="text"/></td>
                    <td class="leftCls">Resource Type&nbsp;&nbsp;</td>
                    <td class="leftCls">
                        <input id="resourceType" class="easyui-combobox"
                               data-options="width:155,height:30,editable:false,panelHeight:'auto'"/>
                    </td>
                </tr>
            </table>
            <div id="toolbar">
                <div class="btn-group">
                	<a href="javascript:void(0)" class="btnStyle serchBtn" id="queryBtn">Query</a>
                    <a href="javascript:void(0)" class="btnStyle editBtn" id="editBtn" onclick="edit()">Edit</a>
                    <a href="javascript:void(0)" class="btnStyle deleteBtn" id="deleteBtn">Delete</a>
                </div>
            </div>
        </div>
        <div region="center" style="border:0px; overflow-y: hidden; margin-top: -2px;">
            <table id="dataGrid">

            </table>
        </div>

        <!-- 编辑窗口 -->
        <div id="updateResourceWin" title="Update Resource"
             data-options="modal:true,closed:true,iconCls:'icon-edit', top:0, left:($(window).width() - 900) * 0.5,collapsible:false,minimizable:false,maximizable:false,draggable:true,resizable:false"
             style="width: 900px; height: 500px; display:none; overflow:hidden">
            <div class="esayui-layout" style="width:885px; height:500px;">
                <div region="center" style="overflow-y:scroll; overflow-x:hidden; height:425px; border-bottom:1px #d4d4d4 solid">
                    <table class="form_table" id="searchTab1">
                        <tr>
                            <td style="text-align: center;width:170px">Resource Name:&nbsp;<font color="red">*</font>&nbsp;
                            </td>
                            <td class="leftCls"><input type="text" class="radiusCls" id="updateResourceName">
                                <input type="hidden" class="radiusCls" id="resourceId">
                                <input type="hidden" class="radiusCls" id="parentId"></td>
                        </tr>
                        <tr>
                            <td style="text-align: center">Parent Resource:&nbsp;&nbsp;</td>
                            <td>
                                <div style="height: 200px; border: 1px #ccc solid; width: 100%; overflow-y: scroll; overflow-x: auto; margin-left:10px">
                                    <ul id="resourceTree"></ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center">Sequence:&nbsp;<font color="red">*</font>&nbsp;</td>
                            <td class="leftCls"><input type="text" class="radiusCls" id="index"></td>
                        </tr>
                        <tr>
                            <td style="text-align: center">Module Name:&nbsp;&nbsp;</td>
                            <td class="leftCls" colspan="7">
                                <input id="module" name="module" class="easyui-combobox"
                                       data-options="width:155,height:30,editable:false,valueField:'name',textField:'name',url:'/security/getParentResource?status=1'"/>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center">Access Link:&nbsp;&nbsp;</td>
                            <td class="leftCls">
                                <input type="text" class="radiusCls" id="accessLink">
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center">Status:&nbsp;<font
                                    color="red">*</font>&nbsp;</td>
                            <td class="leftCls">
                                <input type="text" id="status" name="status" class="easyui-combobox"
                                       data-options="width:155,height:30,editable:false,panelHeight:'auto'"/>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center">Resource Type&nbsp;<font color="red">*</font></td>
                            <td class="leftCls">
                                <input id="type" name="type" class="easyui-combobox"
                                       data-options="width:155,height:30,editable:false,panelHeight:'auto'"/>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center">Description:&nbsp;&nbsp;</td>
                            <td class="leftCls"><textarea name="description" id="description" rows="3"
                                                          cols="21"></textarea></td>
                        </tr>

                    </table>
                </div>
                <div region="south" style="text-align:right; height:45px; padding-top:5px; ">
                    <a href="javascript:void(0)" class="btnStyle saveBtn" id="addBtn" onclick="update();">Save</a>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    $(function () {
    	$('#resQueryDiv').height(suitHeight);
        $('#type').combobox({
            value: '0',
            data: [
                {"text": "URL Resource", "value": "0"},
                {"text": "Module Resource", "value": "1"}
            ]
        });
        $('#status').combobox({
            value: '1',
            data: [
                {"text": "no", "value": "0"},
                {"text": "yes", "value": "1"}
            ]
        });
        $('#resourceType').combobox({
            value: '9',
            data: [
                {"text": "ALL", "value": "9"},
                {"text": "URL Resource", "value": "0"},
                {"text": "Module Resource", "value": "1"}
            ]
        });
        initResourceTree();

        var columns = [
            [
                {
                    field: 'ck', checkbox: true, align: 'center'
                },
                {
                    field: 'name', title: 'Resource Name', width: 160, align: 'center', sortable: true
                },
                {
                    field: 'description', title: 'Resource Description', width: 200, align: 'center', sortable: true
                },
                {
                    field: 'code', title: 'Resource Code', width: 160, align: 'center', sortable: true
                },
                {
                    field: 'typeDesc', title: 'Resource Type', width: 120, align: 'center', sortable: true
                },
                {
                    field: 'statusDesc', title: 'ResourceStatus', width: 120, align: 'center', sortable: true
                },
                {
                    field: 'status', title: 'status', width: 120, align: 'center', hidden: true
                },
                {
                    field: 'gmtCreate', title: 'Create Time', width: 100, align: 'center', sortable: true, formatter: formatY_M_D
                },
                {
                    field: 'gmtModified', title: 'Last Modified', width: 100, align: 'center', sortable: true, formatter: formatY_M_D
                },
                {
                    field: 'id', title: 'ID', width: 60, align: 'center', hidden: true
                },
                {
                    field: 'parentId', title: 'parentId', width: 60, align: 'center', hidden: true
                },
                {
                    field: 'moduleName', title: 'moduleName', width: 60, align: 'center', hidden: true
                }
            ]
        ];
        var grid = $('#dataGrid').datagrid({
            rownumbers: true,
            columns: columns,
            pagination: true,
            striped: true,
            pageNumber: 1,
            singleSelect: false,
            height: document.body.clientHeight - 100,
            method: 'post'
        });
        initPagination(grid);
        gridScroll(grid);
        $('#queryBtn').on('click', function () {
            queryData();
        })
        $('#deleteBtn').on('click', function () {
            deleteData();
        })
    })
    function initResourceTree() {
        $('#resourceTree').tree({
            //checkbox:true,
            url: '/security/resourceTree?status=1'
        });
    }
    function queryData() {
        var grid = $('#dataGrid').datagrid({
            url: '/resource/searchResourceInfo',
            queryParams: {
                name: $('#resourceName').val(),
                type: $('#resourceType').combobox("getValue")
            },
            onLoadSuccess: function (data) {
                $("#dataGrid").datagrid(
                        'clearChecked');
                if (data.total == 0 && data.rows.length == 0) {
                    $.messager
                            .alert(
                                    'System Information',
                                    'No records found.',
                                    'warning');
                }
            }
        });
        initPagination(grid);
        gridScroll(grid);
    }

    //删除资源数据
    function deleteData() {

        var selectedRows = $("#dataGrid").datagrid('getChecked');
        if (selectedRows.length != 1) {
            $.messager.alert('System Information',
                    'Please select one data!', 'warning');
            return false;
        }
        var id = "";
        $.each(selectedRows, function (i, row) {
            id = row.id;
        });

        $.messager.confirm(
                'System Information',
                'Are You Sure Delete Data?',
                function (r) {
                    if (r) {
                        $.post("/security/resource/deleteResourceMessage",
                                {
                                    id: id
                                },
                                function (data) {
                                    if (data) {
                                        $.messager.alert('System Information', 'Delete Success!', 'warning');
                                    } else {
                                        $.messager.alert('System Information', 'Delete Failure!,' + data, 'warning');
                                    }
                                    queryData();
                                })
                                .error(
                                function () {
                                    $.messager.alert('System Information', 'Network Abnormal!', 'warning');
                                });
                    }
                });
    }

    function edit() {

        var selectedRows = $("#dataGrid").datagrid('getChecked');
        if (selectedRows.length != 1) {
            $.messager.alert('System Information',
                    'Please select one data!', 'warning');
            return false;
        }
        var row = selectedRows[0];
        //区分module类型
        if (row.type == '1') {//父
            $('#type').combobox("setValue", "1");
            $('#resourceTree').tree('reload');
        } else {//子
            $('#type').combobox("setValue", "0");
            $('#resourceTree').tree('select', $('#resourceTree').tree('find', row.parentId).target);
        }
        $('#module').combobox("setValue", row.moduleName);
        $('#status').combobox("setValue", row.status);
        $('#updateResourceWin').show();
        $('#updateResourceWin').window();
        $('#updateResourceWin').window('open');
        $('#resourceId').val(row.id);
        $('#updateResourceName').val(row.name);
        $('#accessLink').val(row.url);
        $('#code').val(row.code);
        $('#configurationItems').val(row.configuration);
        $('#description').val(row.description);
        $('#index').val(row.orderIndex);
    }

    function update() {

        if (!$("#updateResourceName").val()) {
            $.messager.alert('System Information', 'Role Name The Data not null');
            return false;
        }

        if (!$("#status").combobox("getValue")) {
            $.messager.alert('System Information', 'Whether in the menu on the left to display The Data not null');
            return false;
        }
        if (!$("#type").combobox("getValue")) {
            $.messager.alert('System Information', 'Resource Type The Data not null');
            return false;
        }
        if (!$("#index").val()) {
            $.messager.alert('System Information', 'No The Data not null');
            return false;
        }
        //判断添加的resource类型，若为子类型则需要父Id，若为父类型父Id 为0
        var ttype = $('#type').combobox('getValue');
        var parentId = "0";
        var moduleName = $("#resourceName").val();
        if (ttype == '0') {
            if (!$("#module").combobox("getValue")) {
                $.messager.alert('System Information', 'Module The Data not null');
                return false;
            }
            var nodes = $('#resourceTree').tree('getSelected');
            if (nodes == null) {
                $.messager.alert('System Information',
                        'Please select one Resource!', 'warning');
                return false;
            }
            $("#parentId").val(nodes.id);
            parentId = nodes.id;
            moduleName = $("#module").combobox('getValue');
        }
        $.post("/security/resource/updateResource", {
            'id': $("#resourceId").val(),
            'name': $("#updateResourceName").val(),
            'moduleName': moduleName,
            'url': $("#accessLink").val(),
            'status': $('#status').combobox('getValue'),
            'type': ttype,
            'code': $('#code').val(),
            'configuration': $('#configurationItems').val(),
            'description': $("#description").val(),
            'orderIndex': $("#index").val(),
            'parentId': parentId
        },function (data) {
            $.messager.alert('System Information', data, 'warning');
            $('#updateResourceWin').window('close');
            queryData();
            initResourceTree();
            if (ttype == '1') {
                $('#module').combobox('reload');
            }
        }).error(
                function () {
                    $.messager.alert('System Information', 'Network Abnormal!', 'warning');
                });
    }
    </script>
{{/component}}